<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Aluminium Windows</h2>
        <a href="/">Home</a><span>/</span><a href="#">Aluminium Windows</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/aluminium-windows-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/aluminium-windows-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Aluminium Windows</h3>
                    <p>Aluminium windows are strong, durable and super resistant to weathering, rust and corrosion. While looking modern and stylish they also provide high thermal efficiency, and boasts more glass and less frame. Aluminium windows are maintenance free and last decades, aluminium is environmentally friendly, sustainable and recyclable.</p>
                    <p>Our aluminium windows can be colored in over 200 different RAL colors. We can even produce windows with different colors inside and out. Aluminium does not expand in heat or contract in cold so that means they won't jam or become draughty.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/aluminium-windows-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/aluminium-windows-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
