<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Aluminium Doors</h2>
        <a href="/">Home</a><span>/</span><a href="#">Aluminium Doors</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/aluminium-doors-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/aluminium-doors-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Aluminium Doors</h3>
                    <p>Our selection of high quality aluminium doors offer the perfect harmony between style and practicality.

Choose from a range of types including sliding or hinged aluminium doors, or the modern design feel of a bi-fold door.

Products can be combined to create the perfect look with our array of aluminium windows.</p>
                    <p>City Windows & Glass adhere to high quality standards, we create superior eco friendly windows and all our products are manufactured by ourselves in the UK. Our 10 year guarantee puts our customers at ease knowning that we are so confident in the life of our products that we can guarantee the quality will not fade.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/aluminium-doors-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/aluminium-doors-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'doors' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
