<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Timber Windows</h2>
        <a href="/">Home</a><span>/</span><a href="#">Timber Windows</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/timber-windows-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/timber-windows-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Timber Windows</h3>
                    <p>Timber windows are amazing to look at and perform great against the weather. With double or triple glazing options and a wide array of color choices timber windows can really finish the look of a home. Timber windows are easy to maintain and present a natural beautiful look.</p>
                    <p>We can manufacture a wide range of styles from sash to cottage or georgian which are all made to measure, any unique size or shapes we can produce.Our timber windows have excellent thermal performance and meet the current building regulations.</p>


                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/timber-windows-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/timber-windows-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
