<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Timber Conservatories</h2>
        <a href="/">Home</a><span>/</span><a href="#">Timber Conservatories</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/timber-conserv-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/timber-conserv-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Timber Conservatories</h3>
                    <p>Wooden conservatories offer the finest in craftsmanship. Completely bespoke, they bring you the ultimate in timeless, natural elegance. Once installed, they look not just as if they belong in place but as if they have always been there.</p>
                    <p>We have an attractive range of painted finishes as standard to complement your colour scheme, but we can match any shade you like. </p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/timber-conserv-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/timber-conserv-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
