<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>uPVC Doors</h2>
        <a href="/">Home</a><span>/</span><a href="#">uPVC Doors</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/upvc-doors-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/upvc-doors-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>uPVC Doors</h3>
                    <p>We have ready for order a selection of stunning double glazed uPVC doors to modernize, beautify and improve energy management. Impressive security features like the multi-point locking system and internal beading helps secure your home. Our doors are built to last so we even offer a 10 year guarantee on all our products.</p>
                    <p>Our uPVC doors are virtually maintenance free and will keep your home quieter as our doors are fully insulated to reduce incoming outside noise. Best of all all our doors are manufactured in the UK and we have a UK support call centre to manage all our customers enquiries.</p>
                  
                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/upvc-doors-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/upvc-doors-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'doors' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
