<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>uPVC Conservatories</h2>
        <a href="/">Home</a><span>/</span><a href="#">uPVC Conservatories</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/upvc-conserv-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/upvc-conserv-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>uPVC Conservatories</h3>
                    <p>Relax, eat, play or work in a uPVC conservatory designed for you, a large or small space that matches your home and garden, if you live in a cottage or bungalow, mansion or semi-detached, there is a design for you that will be well suited and bring you lots of joy.</p>
                    <p>With styles ranging from the traditional Victorian, the classic Edwardian, the particularly light and airy Gable End to the more contemporary Lean-to sunrooms – we are sure that you will find a design that will bring new life and energy to your home.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/upvc-conserv-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/upvc-conserv-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
