<div navi></div>

<!--=============About Area Strart=================-->
<div class="about-banner section-banner conserv">
    <div class="container">
        <h2>CONSERVATORIES</h2> <a href="/">Home</a><span>/</span><a href="#">Conservatories</a> </div>
</div>
<!--Section-banner Benner End-->
<!--========= About Section End===========-->
<div class="single-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-content">
                    <h2>Conservatories</h2>
                    <p><p>All our conservatories are custom designed with your dream in mind, you get to choose all the components that we will use in the final construction, from the conservatory size, shape, materials, style, accessories and all the other fine details that will make it yours. You may want an aluminium conservatory with a glass roof, no problem at all. To get you the ultimate extra home space we will do everyting it takes.</p>
                    <blockquote>
                        <p>Conservatories are a great investment as they increase the value to your property, they also add more living space to your home and offer great views. From orangeries to tile-roof conservatories and stylish full glass extensions we can create the pefect match for your needs.</p>
                    </blockquote>
                    <p>With our experience and industry knowledge, we can help with all aspects of your new conservatory build, usually planning permission is not required, but we can help you with the right checks to make sure. The most popular product in our range is the uPVC classic edwardian conservatory.</p>



                </div>
            </div>
            <div class="col-md-4">
                <div class="about-border-2">
                  <img src="/assets/img/product/conserv-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="single-about about-area conserv" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 col-sm-5 col-xs-12">
                <div class="about-images"> </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="single-about tab-content">
                    <div class="tab-content">
                        <h3>OUR GUARANTEE</h3>
                        <p>Our guarantee will allow a worry free service, our products are high quality, manufactured in our own factories and checked rigerously by our quality assurance team. Our 10 year guarantee for conservatories is offered on parts and labour with a 15 year guarantee on gas-filled sealed units.</p>
                        <p>We are accredited from Fenestration Self-Assessment Scheme (FENSA)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Activites Section End===========-->

<!--========= Team Member Section Start===========-->
<section class="team-member-area" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hection-heading">
                    <h2>CHOOSE YOUR MATERIAL</h2>
                    <p>We have a selection of materials to fit your needs
                        <br> uPVC, timber and aluminium styles.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/conserv-5.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>uPVC Conservatories</h4>
                        <p>Our most popular conservatory</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/conserv-6.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Timber Conservatories</h4>
                        <p>Strong with a homely feel</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/conserv-7.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Aluminium Conservatories</h4>
                        <p>The new era in building materials</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</section>
<!--========= Team Member Section End===========-->

<!--========= Team Member Section Start===========-->
<section class="team-member-area" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hection-heading">
                    <h2>CHOOSE YOUR STYLE</h2>
                    <p>Choose the right matching style
                        <br>for your property type.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/conserv-8.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Conservatories</h4>
                        <p>Value-adding space creator</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/conserv-9.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Orangeries</h4>
                        <p>The traditional orangery</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/conserv-10.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Glass Extensions</h4>
                        <p>frameless glass structures</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/conserv-11.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Tiled Roof Extensions</h4>
                        <p>Blend into your home's style</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Team Member Section End===========-->


<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
