<div navi></div>

<!--=============About Area Strart=================-->
<div class="about-banner section-banner doors">
    <div class="container">
        <h2>DOORS</h2> <a href="/">Home</a><span>/</span><a href="#">Doors</a> </div>
</div>
<!--Section-banner Benner End-->
<!--========= About Section End===========-->
<div class="single-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-content">
                    <h2>New Doors</h2>
                    <p>Mixing good looks and real security, we have an extensive range of front and back doors which include window and panel options, softwood, hardwood, aluminium, composite and uPVC. We have been manufacturing, installing and supplying front and back doors for years now. While offering a array of styles and materials with built in high security measures, our doors are also strong, made to fit perfectly and are energy efficient.</p>
                    <blockquote>
                        <p>All our doors use tough glass, security hinges, multi-point locking mechanisims and hook-bolts, keeping your home safe from unwanted entry.</p>
                    </blockquote>
                    <p>Our doors will stay looking new for a long time, they are really low maintenance, our aluminium doors won't rust or peel, like other doors, and do not require painting, our uPVC doors won't discolor or warp, all our doors may need is an occasional soapy water once over. As energy savers, these doors keep in the heat and block the outside cold, save on your energy bill and install our doors that work for you.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-border-2"> <img style="padding-top:50px;" src="/assets/img/product/door-1.jpg" alt=""> </div>
            </div>
        </div>
    </div>
</div>
<section class="single-about about-area doors" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 col-sm-5 col-xs-12">
                <div class="about-images"> </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="single-about tab-content">
                    <div class="tab-content">
                        <h3>OUR GUARANTEE</h3>
                        <p>We guarantee that our front and back entrance doors will last 10 years from the date of manufacture. This guarantee includes that the door leaf will not crack, peel, flake or dent with standard use. It will not fade or discolour. The hardware with the door will remain operational, uPVC outer frames will keep their shape, stability and impact resistence.</p>
                        <p>Double glazing associated with the door will keep good vision and seals will not break. This guarantee excludes damage from misue, neglect or impact, abnormal usage and damage caused by no following the supplied guidelines.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Activites Section End===========-->

<!--========= Team Member Section Start===========-->
<section class="team-member-area" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hection-heading">
                    <h2>CHOOSE YOUR MATERIAL</h2>
                    <p>We have a selection of materials to fit your needs
                        <br> uPVC, timber and aluminium styles.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-3.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Composite Doors</h4>
                        <p>Blended together for strength</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-4.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>uPVC Doors</h4>
                        <p>Modern high resistence doors</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-5.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Timber Doors</h4>
                        <p>Traditional and naturally strong.</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-6.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Aluminium Doors</h4>
                        <p>Light yet durable</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Team Member Section End===========-->

<!--========= Team Member Section Start===========-->
<section class="team-member-area" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hection-heading">
                    <h2>CHOOSE YOUR STYLE</h2>
                    <p>Choose the right functional style
                        <br> different types for different homes.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-7.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Entrance Doors</h4>
                        <p>Inviting and fashionable</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-8.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Bi-Fold Doors</h4>
                        <p>Make space for life</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-9.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Patio Doors</h4>
                        <p>Secure, stylish and practical</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/doors-10.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>French Doors</h4>
                        <p>Increase light, space and beauty</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Team Member Section End===========-->


<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
