<div navi></div>

<!--=============About Area Strart=================-->
<div class="about-banner section-banner">
    <div class="container">
        <h2>DOUBLE GLAZING</h2> <a href="/">Home</a><span>/</span><a href="#">Double Glazing</a> </div>
</div>
<!--Section-banner Benner End-->
<!--========= About Section End===========-->
<div class="single-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-content">
                    <h2>Double Glazing Windows</h2>
                    <p>We fit the best double glazed windows and they are tough. Our windows make your house warmer and secure, with internal glazing beads, bi-directional locks and multi-point locking mechanisms they are sure to keep you safe and sound. If you also need that sylish look to your house then our window ranges are on trend and look amazing, not to mention they will make your house more energy efficient, boasting an A-rated award for maximum heat retention and minimal heat loss.</p>
                    <blockquote>
                        <p>"Our windows are robust and built with endurance in mind and contain a great number of security features. All windows have internal beading which prevents the glass being externally removed. We build our windows to BSI kitemark security standards."</p>
                    </blockquote>
                    <p>As a highly experienced double glazing window manufacturer we are able to supply affordable products because we cut out the middle man and build in our own factories. We tailor make and inspect all our windows and doors to make sure they are the finest fit and the high quality we hold all our products up to.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-border-2"> <img src="/assets/img/about/about-woman.png" alt=""> </div>
            </div>
        </div>
    </div>
</div>
<section class="single-about about-area window-about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 col-sm-5 col-xs-12">
                <div class="about-images"> </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="single-about tab-content">
                    <div class="tab-content">
                        <h3>OUR GUARANTEE</h3>
                        <p>Because we are so confident that our windows will stand the test of time, we have a comprehensive guarantee that covers a 10 year period, the guarantee includes colour stability, shape retention and impact strength retention.</p>
                        <p>We also guarantee to beat a competitors price, if you recieve a quote for your window installation that is lower then ours, we will verify the quote with the competitors and beat their price.</p><p><small>(This only applies to quotes with the same window components as we would use)</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Activites Section End===========-->

<!--========= Team Member Section Start===========-->
<section class="team-member-area" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hection-heading">
                    <h2>CHOOSE YOUR MATERIAL</h2>
                    <p>We have a selection of materials to fit your needs
                        <br> uPVC, timber and aluminium styles.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/upvc-windows.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>uPVC Windows</h4>
                        <p>Strong but lightweight plastic</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/timber-windows.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Timber Windows</h4>
                        <p>Traditional and contemporary designs</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/aluminium-windows.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Aluminium Windows</h4>
                        <p>Quality aluminium casement windows</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Team Member Section End===========-->

<!--========= Team Member Section Start===========-->
<section class="team-member-area" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hection-heading">
                    <h2>CHOOSE YOUR STYLE</h2>
                    <p>Choose the right functional style
                        <br> different types for different homes.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/sash-windows.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Sash Windows</h4>
                        <p>A touch of elegence</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/tiltturn-windows.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Tilt Turn Windows</h4>
                        <p>Functional and freeing</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/dualturn-windows.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Dual Turn Windows</h4>
                        <p>Let the air in</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-team-member">
                    <div class="team-member-img">
                        <img src="/assets/img/product/secondary-windows.jpg" alt="">
                    </div>
                    <div class="team-member-etails">
                        <h4>Secondary Glazing</h4>
                        <p>Tough & built to last</p>
                    </div>
                    <!-- <div class="single-team-member-hover">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Team Member Section End===========-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
