<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Dual Turn Windows</h2>
        <a href="/">Home</a><span>/</span><a href="#">Dual Turn Windows</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/dual-turn-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/dual-turn-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Dual Turn Windows</h3>
                    <p>Dual turn windows are a great alternative to sash windows, they offer uncomprimising security and superb looks. They work like the tilt and turn windows and can fully rotate. Along with longevity and thermal perormance these windows are fully customizable, so you can have a fixed bottom window and fully rotatable top window.</p>
                    <p>The dual turn options are available in a range of striking colors and stains to match your own property. With our 10 year guarantee you'll have peace of mind for decades to come.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/dual-turn-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/dual-turn-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
