<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Entrance Doors</h2>
        <a href="/">Home</a><span>/</span><a href="#">Entrance Doors</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/entrance-doors-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/entrance-doors-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Entrance Doors</h3>
                    <p>Your new entrance door should be very special. It should match the style of your home and be prestigious, expressing your good taste. Do you also want an entrance door that meets high security standards and helps save energy with high thermal insulation values?</p>
                    <p>We offer many options, so you are certain to find the perfect door to fit your home. Just about all the entrance door styles have optional glazings and colours of your choice.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/entrance-doors-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/entrance-doors-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'doors' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
