<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>French Doors</h2>
        <a href="/">Home</a><span>/</span><a href="#">French Doors</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/french-doors-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/french-doors-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>French Doors</h3>
                    <p>Slliding patio doors are great, but sometimes you need something different, with french doors the possibilities are endless and they bring so much in terms of space, function, light, warmth and style. Imagine opening your french doors on to a balcony, or to a pond feature, a dining room to kitchen opening or so you can connect a conservatory to a garden.</p>
                    <p>French doors are perfect for use outside or inside homes. For color you can go with the traditional white and light oak, or green and cream, we offer a wide array of colors and styles.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/french-doors-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/french-doors-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'doors' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
