<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>French Doors</h2>
        <a href="/">Home</a><span>/</span><a href="#">French Doors</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/french-doors-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/french-doors-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>French Doors</h3>
                    <p>Our french doors are a great replacement for the much loved sliding patio doors. French doors will enrich any home allowing for fully open space. They are perfect for connecting a garden to conservatory, opening to a balcony or internally as a room divider that can open up for more space.</p>
                    <p>French doors are perfect for internal and external use. We offer a variety of colours, from traditional white and light oak, not forgetting the very realistic woodgrain rosewood finish. To the uber fashionable chartwell green and vintage cream but maybe you're more of a trend setter than a follower then go contemporary and modern with grey or black. Fully glazed, decorative Georgian Bar, Square Lead or Diamond Lead is also available.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/french-doors-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/french-doors-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'doors' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
