<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Glass Extensions</h2>
        <a href="/">Home</a><span>/</span><a href="#">Glass Extensions</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/glass-ext-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/glass-ext-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Glass Extensions</h3>
                    <p>Glass Extensions are best known for their role in modern architecture and are a staple in shows such as Grand Designs and Amazing Spaces as they find their way into domestic homes. </p>
                    <p>A cutting edge and innovative choice glazed extensions bring all the benefits of a traditional brick addition; extra space, high thermal efficiency and increased property values as well as letting natural light flood your home, introducing an interesting architectural feature to the property and merging your home and garden for modern living at it's best.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/glass-ext-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/glass-ext-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
