<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Glass Extensions</h2>
        <a href="/">Home</a><span>/</span><a href="#">Glass Extensions</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/glass-ext-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/glass-ext-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Glass Extensions</h3>
                    <p>Glass Extensions are seen as a modern work of art in home design, and you will always catch them in home & garden magazines or videos. Now the average household is starting to accept the glass extension as a common addition to any property.</p>
                    <p>Pioneering and amazing to behold, the glass extension does not leave you at a disadvantage because it offers extra space, high level heat efficiency, increases property value and also lets the light pour in. This is the ultimate in modern living and an amazing feature to add to any build, new or old.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/glass-ext-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/glass-ext-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
