<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Orangeries</h2>
        <a href="/">Home</a><span>/</span><a href="#">Orangeries</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/orangeries-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/orangeries-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Orangeries</h3>
                    <p>Orangeries offer a slightly different take on traditional conservatories. And an orangery is a great way to add conservatory-style light and space to your home.</p>
                    <p>Orangeries are fast growing in popularity and are typically the preferred option for modern glazed extensions especially for kitchens and dining areas. Wood is the perfect material to give the style, warmth and the luxury feel that you are looking for.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/orangeries-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/orangeries-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
