<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Patio Doors</h2>
        <a href="/">Home</a><span>/</span><a href="#">Patio Doors</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/patio-doors-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/patio-doors-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Patio Doors </h3>
                    <p>
                      Our Patio doors are designed to enhance any room, balcony or conservatory. Whether traditional or contemporary, town or country, sliding Patio doors suit every property. The elegant styling allows you to enjoy your garden all year round from the comfort of your home.</p>
                    <p>Our external patio doors are supplied with toughened double glazed 28mm Pilkington K energy saving safety glass to BS 6206 standard. This ensures that the glass will not shatter should an accident occur, yet it is coupled with the practicality of modern UPVC materials which will not rot, warp or require painting.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/patio-doors-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/patio-doors-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'doors' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
