<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Sash Windows</h2>
        <a href="/">Home</a><span>/</span><a href="#">Sash Windows</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/sash-windows-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/sash-windows-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Sash Windows</h3>
                    <p>If your looking for sash windows for a diy project, a new build or commercial project then our sash windows are perfect for properties with a traditional style, Georgian or Victorian town houses or a farm house, we tailor sash windows to your requirements and offer a great degree of customization as we manufacture on site.</p>
                    <p>You get a choice of any frame colors and finishes, our windows are energy efficient and triple sealed to prevent draughts. Our sash windows are ultra secure by design and won't warp, twist or degrade due to weathering.</p>


                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/sash-windows-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/sash-windows-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
