<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Secondary Glazing</h2>
        <a href="/">Home</a><span>/</span><a href="#">Secondary Glazing</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/secondary-glazing-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/secondary-glazing-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Secondary Glazing</h3>
                    <p>Secondary glazing is adding another slim-line window in front of your existing windows. It is an effective and cheap way of insulating and sound proofing your home. It is an ideal solution if you are unable to replace your current window setup with double glazing.</p>
                    <p>Secondary glazing is a winning solution for listed buildings and conservation areas. Adding secondary glazing is reversible.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/secondary-glazing-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/secondary-glazing-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
