<div navi></div>

<!--=============Blog Area Strart=================-->
<div class="single-service section-banner">
    <div class="container">
        <h2>Tilt Turn Windows</h2>
        <a href="/">Home</a><span>/</span><a href="#">Tilt Turn Windows</a>
    </div>
</div>
<!--Section-banner Benner End-->


<!--SingleService Start-->
<div class="single-sevice-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 service-left">
                <div class="service-slider">
                    <div class="slide-item">
                      <img src="/assets/img/product/tilt-turn-1.jpg" alt="">
                    </div>
                    <div class="slide-item">
                      <img src="/assets/img/product/tilt-turn-1.jpg" alt="">
                    </div>
                </div>
                <div class="service-contant">
                    <h3>Tilt Turn Windows</h3>
                    <p>These unique dual purpose tilt and turn windows are available in uPVC so they are super durable. The windows can be tilted and opened in numerous ways. These windows have a tilt restrictor which allows for secure ventilation. The windows also can turn inwards making for an easy clean. Our window are made to measure and come in a selection of colors and styles.</p>
                    <p>As always our tilt and turn windows are maintenance free and come with comprehensive guarantees that give customers  peace of mind for decades.</p>

                </div>
                <div class="service-contant">
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                              <img src="/assets/img/product/tilt-turn-2.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 col-sm-6">
                      <div class="single-team-member">
                          <div class="team-member-img">
                            <img src="/assets/img/product/tilt-turn-3.jpg" alt="">
                          </div>
                      </div>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-right-menu">
                    <h3>More Products</h3>
                    <ul>
                      <li ng-repeat="item in menuItems" ng-if="item.cat == 'windows' "><a href="{{item.url}}">{{item.name}}</a></li>
                    </ul>

                    <div extra></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SingleService End-->



<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->

<div foot></div>
