<div class="quate-area spfifty">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <div class="setion-title wow fadeInUp">
                    <h3>LIKE OUR STYLE? </h3>
                    <h4>Get in contact for a free quote</h4> </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="/contact" class="quote-btn-black wow fadeInUp">GET A QUOTE</a>
            </div>
        </div>
    </div>
</div>
