<!--=========Top Section Start===========-->
<div class="topfooter-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3  wow fadeInUp">
                <h4>ABOUT</h4>
                <p>City Windows is about great products,
                    <br>excellent customer care, solid guarantees
                    <br>and awesome affordable prices.
                </p>
                <p>123 Beulah Road, Croydon, London, CR7 8JJ</p>
                <p>Phone: 0208 771 2362<br>Mobile: 07949438038<br>Fax: 0208 771 2721<br>info@citywindowsandglass.co.uk</p>
                <p></p>
            </div>
            <div class="col-md-offset-1 col-xs-6 col-sm-2">
                <h4>Links</h4>
                <ul class="footer-menu wow fadeInUp">
                    <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>HOME</a></li>
                    <li><a href="/double-glazing"><i class="fa fa-angle-right" aria-hidden="true"></i>DOUBLE GLAZING</a></li>
                    <li><a href="/doors"><i class="fa fa-angle-right" aria-hidden="true"></i>DOORS</a></li>
                    <li><a href="/conservatories"><i class="fa fa-angle-right" aria-hidden="true"></i>CONSERVATORIES</a></li>
                    <li><a href="/contact"><i class="fa fa-angle-right" aria-hidden="true"></i>CONTACT</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
              <h4>Popular Products</h4>
              <ul class="footer-menu wow fadeInUp">
                  <li><a href="/double-glazing"><i class="fa fa-angle-right" aria-hidden="true"></i>UPVC WINDOWS</a></li>
                  <li><a href="/double-glazing"><i class="fa fa-angle-right" aria-hidden="true"></i>SASH WINDOWS</a></li>
                  <li><a href="/doors"><i class="fa fa-angle-right" aria-hidden="true"></i>COMPOSITE DOORS</a></li>
                  <li><a href="/conservatories"><i class="fa fa-angle-right" aria-hidden="true"></i>UPVC CONSERVATORIES</a></li>
                  <li><a href="/double-glazing"><i class="fa fa-angle-right" aria-hidden="true"></i>ALUMINIUM WINDOWS</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-xs-12 wow fadeInUp">
                <h4>Contact us for a quote</h4>
                <p>Feel free to contact us anytime, we can help with your home improvement journey.</p>
                <div class="footer-input hidden-xs">
                    <a href="/contact" class="red-btn">GET A QUOTE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========= Top Section End===========-->
<!--========= footer Section Start===========-->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <p>Copyright 2017 - All Right Reserved</p>
            </div>
            <div class="col-md-5 text-right col-xs-12">
                <p>citywindowsandglass.co.uk</p>
            </div>
        </div>
    </div>
</div>
<!--========= footer Section End===========-->


</body>


<!-- Mirrored from champtheme.com/demos/industry/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Mar 2017 02:46:29 GMT -->
</html>
