
<!-- LatestNews Area
    =========================== -->
<section class="latestNews-area pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title text-center mb-70">
                <h2>Latest news</h2>
            </div>
        </div>
        <div class="row">

            <!-- Single News -->
            <div class="col-sm-4">
                <div class="sin-news">
                    <a class="news-thumb mb-35" href="/customer-service">
                        <img src="assets/img/info/customer-service.jpg" alt="">
                        <div class="news-hover"></div>
                    </a>
                    <div class="news-excerpt">
                        <a href="/customer-service"><h2>Customer Service</h2></a>
                    </div>
                </div>
            </div>
            <!-- /.End Of Single News -->

            <!-- Single News -->
            <div class="col-sm-4">
                <div class="sin-news">
                    <a class="news-thumb mb-35" href="/honesty-business">
                        <img src="assets/img/info/honesty.jpg" alt="">
                        <div class="news-hover"></div>
                    </a>
                    <div class="news-excerpt">
                        <a href="/honesty-business"><h2>Honesty In Business</h2></a>
                    </div>
                </div>
            </div>
            <!-- /.End Of Single News -->

            <!-- Single News -->
            <div class="col-sm-4">
                <div class="sin-news">
                    <a class="news-thumb mb-35" href="/communication">
                        <img src="assets/img/info/comm.jpg" alt="">
                        <div class="news-hover"></div>
                    </a>
                    <div class="news-excerpt">
                        <a href="/communication"><h2>Better Communication</h2></a>
                    </div>
                </div>
            </div>
            <!-- /.End Of Single News -->

        </div>
    </div>
</section>
<!-- /.End Of LatestNews Area -->
