<body>
    <!-- Preloader start
    <div class="factorian-site-preloader-wrap">
        <div class="spinner-2"></div>
    </div>
    <!--  Header Top Area Start-->
    <div class="header-top">
        <div class="container header-border">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-left">
                        <ul>
                            <li><a href="tel:{{details.number}}"><i class="fa fa-phone" aria-hidden="true"></i> {{details.number}}</a></li>
                            <li><a href="mailto:{{details.email}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{details.email}}</a></li>
                        </ul>
                    </div>
                    <!-- /.End Of Header Left -->
                </div>
                <div class="col-sm-6">
                    <div class="header-right">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Header Top Area End-->
    <!--  Header Area Start-->
    <div class="header-area" id="home">
        <div class="container">
            <div class="row header-bottom">
                <div class="col-sm-3 col-xs-12">
                    <!--  Header Logo Start  -->
                    <div class="logo-area">
                        <a href="index-2.html"><img src="/assets/img/city-logo.jpg" alt="Logo Here" /></a>
                    </div>
                </div>
                <!--  Header Logo Start End  -->
                <div class="col-sm-9 col-xs-12">
                    <!--  Header Menu Start  -->
                    <div class="hero-area-mainmenu wow fadeInDown">
                        <div class="hero-area-menu">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul id="nav" class="nav navbar-nav">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/double-glazing">Double Glazing</a></li>
                                    <li><a href="/doors">Doors</a></li>
                                    <li><a href="/conservatories">Conservatories</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a target="_self" href="/contact">Contact</a></li>
                                    <!--<li class="sub-menu"><a href="#">SHOP<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="product-list.html">Product-List</a></li>
                                            <li><a href="cart.html">Cart Page</a></li>
                                            <li><a href="single-product.html">Single Product</a></li>
                                            <li><a href="billing-details.html">Billing Details</a></li>
                                            <li><a href="chack-out.html">Chack Out</a></li>
                                        </ul>
                                    </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Header Menu End  -->
                <div class="header-button"> <a href="/contact" class="red-btn">GET A QUOTE</a> </div>
            </div>
        </div>
    </div>
    <!--  Header Area End-->
