<div navi></div>

<!--=============About Area Strart=================-->
<div class="about-banner section-banner about-page">
    <div class="container">
        <h2>ABOUT US</h2> <a href="/">Home</a><span>/</span><a href="#">About us</a> </div>
</div>
<!--Section-banner Benner End-->

<!--========= About Section End===========-->
<div class="single-about" style="margin-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <h2>Welcome To Our Industry</h2>
                    <p>We work closely with every customers to bring their visions to life. We suggest and customise our products and services so that every detail is satisfactory to the requirements. And if you find a better price offering the same package anywhere then we will beat it with our price guarantee. With our long term business efforts in the double glazing, doors and conservatories field we are confident that we already have the best price for everyone.</p>

                    <p>Our product and service guarantee is definately a winner, we are always available to help in maintenance and repairs for upto 10 years. Our home improvment managers are always ready to talk with you to make sure that you are up to date on the newest trends and design styles suitable for your plan. To get all the benefits we offer and arrange a appointment or even get a free quote then call or email us and we can help you on your journey to a fresh and improved property.</p>
                </div>
            </div>
            <div class="col-sm-6" style="padding-top: 58px;">
                <div class="col-sm-6">
                    <div class="mission-area-single-img">
                        <img src="/assets/img/about/mission-img1.jpg" alt="" />
                        <img src="/assets/img/about/mission-img2.jpg" alt="" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mission-area-single-img">
                        <img src="/assets/img/about/mission-img3.jpg" alt="" />
                    </div>
                </div>

                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
</div>


  <div cta></div>



  <div foot></div>
