<div navi></div>


<!--========= Cart Area Section Strart===========-->
<div id="googleMap" style="height: 400px; width: 100%; background: grey"></div>
<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>SEND US A MESSAGE</h2>
                <p>We would love to hear from you, any questions, proposals or general chit chat is also welcome.</p>
                <form class="" action="" method="post">
                    <input type="text" required placeholder="Name" class="form-control">
                    <input type="email" required placeholder="Email" class="form-control">
                    <input type="text"  placeholder="Phone Number" class="form-control">
                    <input type="text" required placeholder="Subject" class="form-control">
                    <textarea name="name" required rows="10" cols="40" class="form-control" placeholder="Message"></textarea>
                    <button type="button" class="btn btn-default">SEND</button>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="info-area">
                    <h2>CONTACT INFORMATION</h2>
                    <p>Our business contact information.</p>
                </div>
                <div class="location">
                    <h4>Business hours</h4>
                    <p><strong>Monday - Friday</strong><br>
                    10:00 AM - 6:00 PM<br>
                    <strong>Saturday</strong><br>
                    10:00 AM - 3:00 PM<br>
                  <strong>Sunday</strong><br>
                    Closed</p>
                </div>
                <div class="location">
                    <h4>Address</h4>
                    <p>123 Beulah Road, Croydon, London, CR7 8JJ</p>
                </div>
                <div class="location">
                    <h4>Phone Number</h4>
                    <p>Phone: 0208 771 2362<br>Mobile: 07949438038<br>Fax: 0208 771 2721</p>
                </div>
                <div class="location">
                    <h4>Email Adress</h4>
                    <p>info@citywindowsandglass.co.uk</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========= Cart Area Section End===========-->



<div foot></div>
