<div head></div>
<div navi></div>

<!--=============About Area Strart=================-->
<div class="about-banner section-banner about-page">
    <div class="container">
        <h2>Gallery</h2> <a href="/">Home</a><span>/</span><a href="#">Gallery</a> </div>
</div>
<!--Section-banner Benner End-->

<!--Section-banner Benner End-->
<div class="project-page">
    <div class="container-fluide">
        <div class="project-area">
            <!--<div ng-repeat="i in getNumber(number) track by $index" class="single-project cons">
              <img src='/assets/img/spinner.gif' lazy-img='/assets/img/gallery/{{$index+1 | numberFixedLen:3}}.jpg'/>
                <div class="overly">
                    <h4>CONSTRUCTION PROJECT</h4>
                    <p>Project Category</p> <a href="single-project.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                </div>
            </div> -->
            <div class="grid">
              <div class="grid-sizer"></div>
              <div ng-repeat="i in getNumber(number) track by $index" class="grid-item">
                <img src='/assets/img/gallery/{{$index+1 | numberFixedLen:2}}.jpg'/>
              </div>
            </div>
        </div>
    </div>
</div>
<!--========= Project Section End===========-->


<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->



<div foot></div>
