<div head></div>
<div navi></div>

<!--  Slider Area Start-->
<div class="slider-area">
    <div class="slider-wrapper">
        <!-- Single Slide -->
        <div class="slide-item overlay" style="background-image:url('/assets/img/slides/window-slide-1.jpg');">
            <div class="slide-content">
                <h2 class="wow fadeInLeft">YOUR DREAm HOUSE<br>WITH OUR WINDOWS</h2>
                <span class="subtitle wow zoomInDown">The best windows make the best homes.</span>
                <a href="contact" class="btn-filled wow tada">Get Started</a>
                <a href="/about" class="wow tada">Learn more</a>
            </div>
        </div>
        <!-- /.End Of Single Slide -->
        <!-- Single Slide -->
        <div class="slide-item overlay" style="background-image:url('/assets/img/slides/window-slide-1.jpg');">
            <div class="slide-content">
              <h2 class="wow fadeInLeft">YOUR DREAm HOUSE<br>WITH OUR WINDOWS</h2>
              <span class="subtitle wow zoomInDown">The best windows make the best homes.</span>
              <a href="contact" class="btn-filled wow tada">Get Started</a>
              <a href="/about" class="wow tada">Learn more</a>
            </div>
        </div>
        <!-- /.End Of Single Slide -->
        <!-- Single Slide -->
        <div class="slide-item overlay" style="background-image:url('/assets/img/slides/window-slide-1.jpg');">
            <div class="slide-content">
              <h2 class="wow fadeInLeft">YOUR DREAm HOUSE<br>WITH OUR WINDOWS</h2>
              <span class="subtitle wow zoomInDown">The best windows make the best homes.</span>
              <a href="contact" class="btn-filled wow tada">Get Started</a>
              <a href="/about" class="wow tada">Learn more</a>
            </div>
        </div>
        <!-- /.End Of Single Slide -->
    </div>
</div>
<!--  Slider Area End-->
<!--========= Activites Section Start===========-->
<section class="activites-area section-padding animated" id="service">
    <div class="container">
        <div class="setion-title  wow fadeInUp">
            <h3>WHAT WE ACTUALLY DO</h3>
            <p>We are all things windows, doors and consrvatories
                <br>Check out our great services for home & business.</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-activites">
                    <img src="/assets/img/activites/img-one.jpg" alt="">
                    <div class="hover"></div>
                </div>
                <div class="activeits-content wow fadeInUp">
                    <h4>DOUBLE GLAZING</h4>
                    <p>Insulating the home and looking good
                        <br>Quality installation and lasting product.</p>
                    <a href="/double-glazing" class="rdmore-btn">READ MORE</a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-activites">
                    <img src="/assets/img/activites/img-two.jpg" alt="">
                    <div class="hover"></div>
                </div>
                <div class="activeits-content wow fadeInUp">
                    <h4>DOORS</h4>
                    <p>Your doorway to the world should be epic
                        <br>customise and make it unique</p>
                    <a href="/doors" class="rdmore-btn">READ MORE</a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-activites">
                    <img src="/assets/img/activites/img-three.jpg" alt="">
                    <div class="hover"></div>
                </div>
                <div class="activeits-content wow fadeInUp">
                    <h4>CONSERVATORIES</h4>
                    <p>Add value and splendor to any home
                        <br>your summer longue or winter hideaway.</p>
                    <a href="/conservatories" class="rdmore-btn">READ MORE</a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="single-activites">
                    <img src="/assets/img/activites/img-four.jpg" alt="">
                    <div class="hover"></div>
                </div>
                <div class="activeits-content wow fadeInUp">
                    <h4>ENERGY EFFICIENCY</h4>
                    <p>Keep your energy where it should be
                        <br>all our products are super energy efficent.</p>
                    <a href="/double-glazing" class="rdmore-btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========= Activites Section End===========-->
<!--========= About Section Start===========-->
<section class="about-area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 col-sm-5 col-xs-12">
                <div class="about-images">
                    <div class="setion-title">
                        <h3>ABOUT US</h3>
                        <p>Learn more about us as a company<br>
                            and see what we are reallly all about.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="tab-content">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in" id="history">
                            <h3>OUR HISTORY</h3>
                            <p>For over 10 years we have supplied windows, doors and conservatories to trade and residential customers. We manufacture here in the UK, we stand for quality and impressive craftmanship, check out our products and services for more info.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="mission">
                            <h3>OUR MISSION</h3>
                            <p>We are dedicated to great quality products and awesome customer care, we are continually evolving our designs, offerings and support. Our mission is always to provide the best quality and keep our customers happy and alway coming back.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="vision">
                            <h3>OUR VISION</h3>
                            <p>Our vision is to see our product range to progress & grow while building a base of satisfied customers with our products, services and support both in the commerical and domestic areas. We hope to grow nationwide and even reach international.</p>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs wow fadeInUp" role="tablist">
                    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">OUR HISTORY</a></li>
                    <li role="presentation" class="active"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">OUR MISSION</a></li>
                    <li role="presentation"><a href="#vision" aria-controls="vision" role="tab" data-toggle="tab">OUR VISION</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--========= About Section End===========-->
<!--========= Letest Project Section Start===========-->
<div class="latest-project-area section-padding" id="project">
    <div class="container">
        <div class="setion-title wow fadeInUp">
            <h3>OUR LATEST PROJECTS</h3>
            <p>Check out our latest builds.
                <br>Here is some of our work.</p>
        </div>
    </div>
    <div class="project-slide">
        <div class="single-project"> <img src="/assets/img/project/project-img-1.jpg" alt="">
            <!-- <div class="overly">
                <h4>CONSTRUCTION PROJECT</h4>
                <p>Project Category</p> <a href="single-project.html"><i class="fa fa-link" aria-hidden="true"></i></a>
            </div> -->
        </div>
        <div class="single-project"> <img src="/assets/img/project/project-img-2.jpg" alt="">
            <!-- <div class="overly">
                <h4>CONSTRUCTION PROJECT</h4>
                <p>Project Category</p> <a href="single-project.html"><i class="fa fa-link" aria-hidden="true"></i></a>
            </div> -->
        </div>
        <div class="single-project"> <img src="/assets/img/project/project-img-3.jpg" alt="">
            <!-- <div class="overly">
                <h4>CONSTRUCTION PROJECT</h4>
                <p>Project Category</p> <a href="single-project.html"><i class="fa fa-link" aria-hidden="true"></i></a>
            </div> -->
        </div>
        <div class="single-project"> <img src="/assets/img/project/project-img-4.jpg" alt="">
            <!-- <div class="overly">
                <h4>CONSTRUCTION PROJECT</h4>
                <p>Project Category</p> <a href="single-project.html"><i class="fa fa-link" aria-hidden="true"></i></a>
            </div> -->
        </div>
    </div>
</div>
<!--=========Letest Project Section End===========-->
<!--========= Client Section Start===========-->
<div class="client-area" id="shop">
    <div class="container">
        <div class="setion-title wow fadeInUp">
            <h3>WHAT OUR CLIENTS SAY</h3>
            <p>Find out what our customers say.
                <br>Customer care is our priority.</p>
        </div>
        <div class="client-slide">
            <div class="single-client wow fadeInUp">
                <img src="/assets/img/client-1.jpg" alt="">
                <p><q>They were very polite, helpful and hard workers. The site was left clean and tidy and our property is now much improved.</q></p>
                <h4>- 733Yonke</h4>
            </div>
            <div class="single-client wow fadeInUp">
                <img src="/assets/img/client-2.jpg" alt="">
                <p><q>Windows and conservatory fitted very pleased about as they were excellent always on time worked hard and did such a great job, friendly and on time, were tidy always happy to please.</q></p>
                <h4>- Quei8</h4>
            </div>
            <div class="single-client wow fadeInUp">
                <img src="/assets/img/client-3.jpg" alt="">
                <p><q>Fantastic service and customer service. Was kept updated of the progress. Fitters worked hard started early and finished in a timely manner.</q></p>
                <h4>- Asima</h4>
            </div>
        </div>
    </div>
</div>
<!--========= Client Section End===========-->


<!--========= QUATE Section Start===========-->
<div cta></div>
<!--========= QUATE Section End===========-->


<!--========= Partnar Section Start===========-->
<div class="partnar-area spfifty">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <div class="setion-title wow fadeInUp">
                    <h3>OUR AWESOME <br> PARTNERS</h3> </div>
            </div>
            <div class="col-md-8 col-md-offset-1 wow fadeInUp">
                <div class="partner-slide">
                    <div class="single-slide"> <img src="/assets/img/partner/partner-1.jpg" alt=""> </div>
                    <div class="single-slide"> <img src="/assets/img/partner/partner-2.jpg" alt=""> </div>
                    <div class="single-slide"> <img src="/assets/img/partner/partner-3.jpg" alt=""> </div>
                    <div class="single-slide"> <img src="/assets/img/partner/partner-4.jpg" alt=""> </div>
                    <div class="single-slide"> <img src="/assets/img/partner/partner-5.jpg" alt=""> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========= Partnar Section End===========-->

<div foot></div>
