@media only screen and (min-width: 1300px) and (max-width: 1600px) {
.about-area .setion-title::after {
  border-width: 60px 47px 11px 243px;
} 
   
}
@media only screen and (min-width: 991px) and (max-width: 1299px) {
    
.hero-area-menu ul.nav.navbar-nav li a {
  padding: 32px 9px;
}
.about-area .setion-title::after {
  border-width: 60px 47px 11px 225px;
}
.about-area .nav.nav-tabs > li a {
  padding: 25px 34px;
}
.owl-item.active.center .single-client::before {
  transform: rotate(6deg);
}    
.vission-area .mission-area-single-img > img {
  height: 315px;
}
.mission-area-text {
  padding-top: 0;
}   
.vission-area .mission-area-text {
  padding-top: 0;
}
.mission-area-heading > h3 {
  padding-bottom: 0px;
}
.mission-area-text > p {
  margin-bottom: 0px;
}
.about-border {
    width: 313px;
  margin-left: 0;
}

.activites-area.service-page .single-activites {
  height: 145px;
}
.activeits-content {
  height: 200px;
}
.single-blog a {
  margin-bottom: 5px;
}    
.single-blog a {
  font-size: 12px;
}    
.comment-content {
  width: 88%;
}
    
    
    
    
.single-sevice-area .blog-right-menu {
  padding-right: 50px;
}    
    
    
    
    
.single-pro-img button {
  width: 213px;
}
    
    
    
    
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 990px) {
    .logo-area {
        text-align: center;
    }
    .logo-area a img {
        height: 24px;
        width: 94px;
        padding: 0;
    }

    .hero-area-menu ul.nav.navbar-nav li a {
        font-size: 12px;
        padding: 28px 5px;
    }
    .header-area .col-md-9.col-sm-8.col-xs-12 {
        padding-left: 0;
    }
    .search {
       right: 7%;
    }
    .red-btn {
      font-size: 11px;
      padding: 11px 0;
      right: 0;
      top: 18px;
      width: 100px;
    }
    .section-padding {
        padding: 45px 0;
    }
    /*  Activites Area*/
    .single-activites img {
        width: 100%;
    }
    .single-activites {
        margin: 15px 0;
    }
    /*  Activites Area*/
    /*About area Start*/
    .about-area .setion-title {
        right: 23px;
        text-align: left;
        top: 15%;
        z-index: 1;
    }
    .about-area .setion-title::after {
        border-width: 60px 43px 11px 247px;
    }
    .tab-content {
        margin-left: 0px;
        margin-top: 80px;
    }
    .nav.nav-tabs > li a {
        color: #fff;
        font-size: 14px;
        padding: 15px 18px;
    }
    .nav.nav-tabs {
        margin-left: 18px;
    }
    /*About Area End*/
    /*Project Area Start*/
    .latest-project-area .owl-nav .owl-next {
        font-size: 16px;
        padding: 4px 12px;
        right: 50px;
    }
    .latest-project-area .owl-nav .owl-prev {
        font-size: 16px;
        padding: 4px 12px;
        right: 90px;
    }
    /*Project Area End*/
    /*Client_Area Strart*/
    .single-client {
        margin: 40px 10px;
    }
    .client-area .owl-nav .owl-prev {
        left: -18px;
        top: 20%;
    }
    .owl-item.active.center .single-client::after {
        bottom: -19px;
        right: -2px;
        width: 2px;
    }
    .owl-item.active.center .single-client::before {
        bottom: -10px;
        height: 2px;
        left: -2px;
    }
    .single-client {
        ;
        padding: 30px 20px;
    }
    .client-area .owl-nav .owl-next {
        right: -15px;
        top: 20%;
    }
    /*Client_Area END*/
    /*Qute_Area Start*/
    .quate-area .quote-btn {
        margin-top: 30px;
    }
    /*Oute_Area END*/
    /*Footer_Area Srtart*/
    form input {
        font-size: 20px;
        height: 42px;
        width: 220px;
    }
    form button {
        left: 193px;
        top: 224px;
    }
    .footer-area {
        padding: 15px 0;
    }
/*footer_Area END*/
/*Product Area*/
.product-area {
      padding-top: 60px;
    }
 .pagination-bar {
  margin-bottom: 50px;
}
/*Product Area*/
    
/*==========================================================================
    Blog Strart
=====================================================================*/
    .search-area {
      padding-right: 30px;
      padding-right: 30px;
    }
    .search-icon {
      right: 15px;
    }
    .single-blog .date {
     margin-left: 0;
     width: 70px;
   }
   .single-blog {
      margin-top: 30px;
      padding-right: 0px;
    }
    .search-area {
      margin-top: 30px;
      padding-left: 0;
      padding-right: 0;
    }
    .single-blog-content-text {
        padding-left: 0px;
        }
    .tag {
          text-align: left;
        }
    .tag p{
        padding: 0;
    }
    .single-blog a {
      margin: 8px 0;
      padding: 0 7px;
    }
    .comment-area {
      margin-top: 0;
    }
    .comment-content {
      padding-left: 0;
    }
/* Biling Deatils   */
.billing-form form input, .billing-area form select {
    width: 344px;
}

.order-area span {
    display: block;
}

.total-bill > li {
    width: 710px;
}

.order-area span {
    display: block;
}

/* Biling Deatils   */
    
/*Product Area*/
.product.search-area::after {

  height: 145%;
  left: -15px;
  width: 1px;
}
.header-right.single-blog-icon ul li a {
  margin-right: -6px;
}
    
.search-area::after {
  left: -18px;
}
.nav.navbar-nav {
  text-align: left;
}
.about-area .nav.nav-tabs > li a {
  padding: 13px;
}
.about-area .tab-content {
  margin-top: 80px;
  padding-left: 30px;
}
.single-client {
  padding: 30px 10px;
}
    
.welcome-slider-area {
  height: 660px;
}
    

.flickr_badge_image {
    width: 50%;
}
.footer-menu li a {
  padding: 8px 0;
}
.single-team-member {
  height: 415px;
  margin: 15px  0;
}
.vission-area .mission-area-text {
  padding-left: 0;
  padding-top: 35px;
}
.quate-area .quote-btn-black {
    float: none;
}
.single-team-member {
    margin: 20px 0;
}
   
.project-area .single-project {
    width: 50%;
}

    

/*========================================================================================================*/
    /* Tablet Layout: 768px.  End*/
/*========================================================================================================*/
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    /*=====================================================================
	Dropdown Menu Starts when use dropdown for mobile Device
===================================================================== */
    .hero-area-menu .nav.navbar-nav li:hover ul.dropdown-menu {
        left: 80px;
        top: 30px;
    }
    .hero-area-menu #nav > li {
        width: 100%;
        overflow: hidden;
    }
    .hero-area {
        height: 650px !important;
    }
    /* hero-Area Start */
    .header-area {
        left: 0;
        padding: 8px 0px;
        position: static;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .icon-bar {
        background: #f6bd41 none repeat scroll 0 0;
    }
    /* Hero AreaMenu Start */
    .logo-area {
        text-align: center;
    }
    .logo-area > a {
        padding-top: 2px;
    }
    .hero-area-mainmenu {
        padding-top: 60px;
    }
    #bs-example-navbar-collapse-1 {
        background: #ffffff none repeat scroll 0 0;
        position: static;
        right: 0;
        z-index: 9999;
    }
    .collapse.navbar-collapse {
        float: left;
        overflow: hidden;
        padding-right: 0;
        position: relative;
        width: 100%;
    }
    .hero-area-menu .navbar-collapse.collapse.in {
        overflow: visible;
    }
    .hero-area-menu .nav.navbar-nav {
        width: 100%;
        text-align: left;
    }
    .hero-area-menu #nav > li {
        display: inline-block;
        float: left;
        text-align: left;
    }
    .hero-area-menu ul.nav.navbar-nav li a {
        padding: 11px 15px 11px 4px;
        transition: all 0.3s ease 0s;
    }
    .hero-area-menu .navbar-toggle {
        margin-top: -45px;
    }
    .hero-area-menu .dropdown-menu {
        box-shadow: none;
        display: none;
        opacity: 1;
        padding-left: 15px;
        position: static;
        transition: none 0s ease 0s !important;
        visibility: visible;
        width: 95%;
    }
    .hero-area-menu .dropdown-menu > li {
        display: block;
        width: 100%;
    }
    .hero-area-menu .navbar-nav li:hover ul.dropdown-menu li a {
        color: #333333;
        padding: 11px 15px 11px 4px;
    }
    .get-quote-btn {
        left: 12px;
        position: absolute;
        right: auto;
        top: 12px;
        width: 130px;
    }
    .hero-area-menu .navbar-collapse.collapse.in .nav.navbar-nav {
        margin-top: 7px;
    }
    .hero-area-menu .nav.navbar-nav {
        padding-top: 0;
        padding-left: 10px;
    }
    .red-btn {
        font-size: 12px;
        font-weight: 500;
        padding: 10px 0;
        top: -42px;
        width: 110px;
        left: 6px;
    }
    .header-button {
      position: static;
    }
        .hero-area-mainmenu {
        padding-top: 70px;
    }
    .slider-area {
        height: 450px;
    }
    .slide-content h2 {
        font-size: 28px;
        line-height: 30px;
    }
    .subtitle {
        font-size: 14px;
        font-weight: 300;
    }
    .slide-content a {
        border: 1px solid #fff;
        border-radius: 2px;
        font-size: 12px;
        font-weight: 600;
        margin: 0 2px;
        padding: 8px 15px;
    }
    .single-team-member {
        margin: 20px 0;
    }
    /* Header Section End*/
    .section-padding {
        padding: 35px 0;
        text-align: center;
    }
    .setion-title h3 {
        margin-bottom: 12px;
        font-size: 25px;
    }
    .setion-title > p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    /*  Activates Area Start*/
    .single-activites img {
        width: 100%;
    }
    .single-activites {
        margin-top: 30px;
    }
    .rdmore-btn {
        font-size: 12px;
        margin-bottom: 30px;
        margin-top: 0px;
        padding: 12px 24px;
    }
    /*  Activates Area End*/
    /*  latest-project Start*/
    .latest-project-area .owl-nav .owl-next {
        border: 1px solid #c0c0c0;
        display: inline-block;
        font-size: 18px;
        padding: 8px 15px;
        position: static;
        margin-top: 40px;
        margin: 15px;
    }
    .latest-project-area .owl-nav .owl-prev {
        border: 1px solid #c0c0c0;
        display: inline-block;
        font-size: 18px;
        padding: 8px 15px;
        position: static;
        margin: 15px;
        margin-top: 40px;
    }
    /*latest-project End*/
    /*  Activates Area Start*/
    .about-area .setion-title {
        position: static;
    }
    .about-area .setion-title::after {
        display: none;
    }
    .about-area .setion-title::before {
        display: none;
    }
    .tab-content {
        margin-top: 20px;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: transparent none repeat scroll 0 0;
        border-left: 0 solid #f7c039;
        border-radius: 0;
        border-right: 0 solid #f7c039;
        border-top: 0 none transparent;
        color: #f7c039;
    }
    .nav.nav-tabs > li {
        float: none;
        text-align: center;
    }
    .about-area .setion-title {
        padding: 12px 30px 13px;
    }
    .nav.nav-tabs {
        float: right;
        margin: 0;
    }
    .nav.nav-tabs > li a {
        color: #fff;
        font-size: 14px;
        padding: 14px 18px;
        border: 0px transparent;
    }
    .hero-area-menu #nav > li:hover::after{
        display: none;
    }
    .tab-content p {
        font-size: 14px;
    }
    .tab-content {
        padding-left: 0;
    }
    /*  About Area End*/
    /*  quate Area Start*/
    .quate-area .quote-btn-black {
        padding: 10px 20px;
        margin-top: 10px;
    }
    /*  quate Area End*/
    /* Top footer Area Start*/
    .topfooter-area h4 {
        margin-bottom: 24px;
    }
	.topfooter-area p {
	  text-align:center;
	}
    .topfooter-area h4::after {
        left: 50%;
        margin-left: -45px;
        width: 90px;
    }
   
    .topfooter-area img {
        margin-bottom: 20px;
    }
    /*  Topfooter Area End*/
/*=====================================================================
    Home Two Page Strat
  =====================================================================*/
    .header-border {
      padding: 10px 0;
    }
    .header-left li a {
          margin:12px 5px;
    }
        .welcome-area {
        height: 510px;
    }
    .welcome-area .hero-area-menu ul.nav.navbar-nav li a {
      color: #222;
    }

/*=====================================================================
    Home Two Page End
  =====================================================================*/
/*=====================================================================
    Blog Page Strat
  =====================================================================*/
     .single-blog {
      margin-top: 30px;
      padding-right: 0;
    }


    .search-area {
      padding-left: 0;
    }
   
    /*=====================================================================
    Blog Page Strat
  =====================================================================*/
/*=====================================================================
    Blog Page Sevice  Start
=====================================================================*/
.activites-area.service-page .single-activites {
  margin-top: 40px;
}
.activeits-content {
  text-align: center;
}
.activites-area.service-page {
  padding-bottom: 50px;
}
.single-blog {
  margin-top: 30px;
}
.single-blog {
  padding-right: 0px;
}
 blockquote {
  border-left: 5px solid #f6bd41;
  margin: 0;
  padding: 0 16px;
     
}
.single-sevice-area {
    padding-top: 20px;
}
.single-sevice-area .blog-right-menu h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-sevice-area .blog-right-menu{
        padding-left: 0px;
    }
    
    .single-blog-content-text {
      padding-left: 0px;
        }
    .comment-area {
    margin-top: 0;
    }
    .comment-content {
    padding-left: 0;
    }
    .tag {
          text-align: left;
        }
    .tag p{
        padding: 0;
    }
    .form-area {
  padding: 0;
}
.about-area .tab-content {
  margin-top: 60px;
}
.about-area .nav.nav-tabs > li a {
  padding: 15px 45px;
}
.about-area .tab-content {
  padding-left: 0px;
}
/*=====================================================================
   Blog Page Sevice  End
  =====================================================================*/
 /*=====================================================================
   About-Us Page  Start
  =====================================================================*/   
.section-banner {

  padding: 30px 0;

} 
    
.about-border img {
  left: -100px;
  top: -60px;
}
/*=====================================================================
   About-Us Page  Start
  =====================================================================*/      
.about-border {
    border: medium none;
    margin-left: 0;
    margin-top: 20px;
    position: static;
}
.about-border::before {
    display: none;
}
.about-border::after {
    display: none;
}
.about-border > img {
    position: static;
}
.single-about {
    overflow: hidden;
}
.about-content h2 {
  font-size: 24px;
  margin: 30px 0;
}

.mission-area-single-img > img {
  margin: 10px 0;
}
    
 blockquote {
  border-left: 5px solid #f6bd41;
  margin: 0;
  padding: 15px 8px;
}   

/*=====================================================================
   About-Us Page  End
  =====================================================================*/      
/*  =========================================================
    Contact Page Start
=============================================================*/
.location > p {
    margin-bottom: 30px;
}
.contact-area h2 {
  font-size: 22px;
}
#googleMap {
    height: 320px !important;
}
/* =========================================================
    Contact Page End
=============================================================*/
    
/*Biling Deatils*/
    
.billing-form form input, .billing-area form select {
    width: 285px;
}
.total-bill > li {
    width: 280px;
}
.billing-form form input, .billing-area form select {
    margin-bottom: 15px;
}
.order-area img {
    margin: auto;
}
.contact-area .btn-default, .billing-area .btn-default {
    font-size: 13px;
    margin-top: 20px;
    padding: 0;
}
.total-bill {
    text-align: left;
}
/*Biling Deatils*/
/*Product area*/
.product.search-area::after {
  display: none;
}
    
/*  Thanks Page Start*/
    
.thank-area {
    height: 420px;
}
.thank-area h1 {
    font-size: 46px;
}
.thank-btn {
    font-size: 10px;
    padding: 10px;
}
.thank-area p {
    font-size: 14px;
}
/*Mama*/
.hero-area-menu {
    display: block;   
    width: 100%;
}
.header-button a {
    display: inline-block;
    left: 15px;
    position: absolute;
    top: 65px;
    width: 125px;
    z-index: 999;
}
/*Mama*/
  .porject-list ul li {
      padding: 15px 0;
    }   
    
    
/*Footer Area Start */
.footer-area p {
    display: block;
    margin-bottom: 0;
    text-align: center;
}
    
    .footer-input input {
      width: 100%;
    }
.welcome-slider-area {
    height: 670px;
}
.home-page2 .hero-area-menu ul.nav.navbar-nav li a {
  color: #000;
  padding: 8px;
}
    
.mission-area-text {
  font-size: 16px;
  padding-right: 0;
  padding-top: 0px;
}
.vission-area .mission-area-text {
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
}
   
.porject-list ul li i {
  padding: 0 10px;
}  
.project-area .single-project {
  width: 100%;
}
/*  Thanks Page Start*/
    
    
 .owl-item.active.center .single-client::before {
      transform: rotate(6deg);
    }
/*========================================================================================================*/

/* Mobile Layout: 320px  End*/


/*========================================================================================================*/

}

/*========================================================================================================*/

/* Wide Mobile Layout: 480px. Start */

/*========================================================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Header Area Start*/
    .header-left {
        text-align: center;
    }
    
    .header-right {
      padding-right: 80px;
      text-align: center;
    }
    .search-icon {
      right: 80px;
    }
    .header-right::after{
        display: none;
    }
    .slide-content h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .slide-content a {
        border: 2px solid #fff;
        border-radius: 2px;
        font-size: 14px;
        padding: 10px 20px;
    }
    /*Header Area End*/
    /*Activices Area Start*/

    .single-activites h4 {
        font-size: 18px;
    }

    .single-activites > p {
        font-size: 16px;
    }
    /*Activices Area End*/
    /*About Area Staet*/

    .about-area .setion-title {
        padding: 30px 25px 20px;
        right: 25px;
        top: 15%;
    }
    /*About Area Staet*/
    /*Client Area Start*/

    .client-area {
        position: relative;
        text-align: center;
        
    }
    /*Client Area End*/
    
    
    .owl-item.active.center .single-client::before {
      transform: rotate(4deg);
    }
    
/* Billing Deatils*/
 .billing-form form input, .billing-area form select {
  width: 440px;
 }
    
/* Billing Deatils*/
  .activeits-content > h4{
        font-size: 18px;
    }
    
    .quate-area .quote-btn-black{
        float: none;
    }  
    .activeits-content > p {
        font-size: 16px;
    }

    /*Footer Area Start*/
    .total-bill > li {
      width: 430px;
    }

    /*Footer Area Start*/
    
    
    .footer-input input {
      width: 100%;
    }

   
    
    
    
    
    
}

/*========================================================================================================


/* Wide Mobile Layout: 480px. End */

/*========================================================================================================*/
