/*******************************************************************************
        TABLE OF CONTENTS
******************************************************************************
                0.0=> Browser Reset Code

                1.=> Header Area CSS

                2.=> Slider Area CSS

                3.=> Activites Area CSS

                4.=> About Area CSS

                5.=> About Area CSS

                6.=> Latest Project  CSS

                7.=> Client-Area  CSS

                8.=> Qute-Area  CSS

                9.=> Top Footer Area  CSS

                10.=> Footer Area  CSS

                11.=> Home Page Version Two  CSS

                12.=> Blog Page  CSS

                13.=> Service Page  CSS

                14.=> Single Service Page  CSS

                15.=> About Page  CSS

                16.=> Shop Page  CSS

                17.=> Contact Page  CSS

                18.=> Thanks Page  CSS

                19.=> 404 Page  CSS

                20.=> Cart Page  CSS

                21.=> Billing  CSS

                22.=> Single Project  CSS


***************************************************************************
        TABLE OF CONTENTS
***************************************************************************/


/****************************************************************
    0.0=> Browser Reset Code
****************************************************************/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
}

span,
a {
    display: inline-block;
    font-style: normal;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: .4s;
}

input {
    outline: none !important;
}

html,
body {
    color: #a6a6a6;
    font-family: 'proxima_nova_rgregular';
    font-style: normal;
    height: 100%;
}

a,
a:hover {
    text-decoration: none font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 700;
    font-family: 'proxima_novasemibold';
}

p {
    font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
    font-style: normal;
}


/****************************************************************
    0.0=> Browser Reset Code
****************************************************************/


/****************************************************************
    1 => Header Area Start
****************************************************************/

.section-padding {
    padding: 70px 0px;
}

.spfifty {
    padding: 50px 0px;
}

.header_all {}

.header-top {
    overflow: hidden;
}

.header-border {
    border-bottom: 1px solid #e9e9e9;
    padding: 22px 0;
}

.header-right {
    padding-right: 18px;
    position: relative;
}

.header-area {
    position: relative;
    z-index: 2;
}

/*.header-right::after {
    background: #a09e9e none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 65px;
    width: 1px;
    top: 0;
}*/

.search {
    cursor: pointer;
    position: absolute;
    right: 15%;
    top: 23px;
}

.search .btn.btn-default {
    position: absolute;
    right: 17px;
    top: 36px;
    padding: 10px 14px;
    font-style: normal;
    font-weight: 600;
    background: #0681bd;
    color: #fff;
}

.search .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #0681bd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 18px;
    font-style: normal;
    height: 44px;
    padding-left: 25px;
}

.modal-backdrop.in {
    opacity: 0;
    display: none;
}

.search .modal-content > button {
    left: 15px;
    padding: 9px 14px;
    position: absolute;
    top: 36px;
    z-index: 5;
    background: black;
    border: 1px solid transparent;
    font-size: 17px;
    border-radius: 50%;
    color: #fff;
}

.search .modal-content {
    border-radius: 30%;
}

.search .modal-body {
    padding: 35px;
}

.header-right ul li {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
}

.header-left li a {
    color: #333333;
    font-size: 13px;
    font-weight: 300;
    margin-right: 30px;
}

.header-left li a i {
    margin-right: 5px;
}

.header-left li a:hover {
    color: #0681bd;
}

.header-right ul li {
    display: inline-block;
}

.header-right {
    text-align: right;
}

.header-right ul li a {
    color: #333333;
    font-size: 12px;
    margin-right: 18px;
}

.cart-amount a {
    position: relative;
}

.cart-amount a::before {
    background: #0681bd none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    content: "4";
    display: inline-block;
    font-size: 10px;
    height: 13px;
    line-height: 13px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -7px;
    width: 13px;
}

.socials li a {
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.socials li a:hover {
    color: #0681bd;
}

.header-right .search-icon {
    color: #333333;
    display: inline-block;
    height: 40px;
    line-height: 48px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: -10px;
    width: 40px;
}

.search-icon i {
    cursor: pointer;
    font-size: 16px;
}

.header_all .header-top .search-icon {
    color: #fff;
}

.header-area .col-md-1.col-sm-2 {
    padding: 0;
}

.collapse.navbar-collapse {
    float: left;
    width: 100%;
    padding-right: 0;
}

.collapse.navbar-collapse {
    float: left;
    overflow: hidden;
    padding-right: 0;
    position: relative;
    width: 100%;
}

.nav.navbar-nav {
    width: 100%;
    text-align: left;
}

.hero-area-menu #nav > li {
    float: none;
    display: inline-block;
    position: relative;
}

.hero-area-menu #nav > li:hover::after {
    background: #0681bd none repeat scroll 0 0;
    bottom: 1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.hero-area-menu ul.nav.navbar-nav li a {
    color: #222;
    font-size: 14px;
    font-weight: 500;
    padding: 32px 15px;
    transition: all 0.3s ease 0s;
    font-style: normal;
    font-family: 'proxima_nova_rgbold';
    text-transform: uppercase;
}

.sub-menu > a {
    display: inline-block;
}

.hero-area-menu ul.nav.navbar-nav li.sub-menu a:hover {
    color: #0681bd;
}

.hero-area-menu ul.nav.navbar-nav li a:hover {
    color: #0681bd;
}

.hero-area-menu .nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
    color: #0681bd;
}

.logo-area > a {
    color: #222222;
    display: inline-block;
    padding: 8px 0 0;
}

.logo-area a img {
    padding: 10px 0;
}

.red-btn {
    background: #0681bd none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    text-align: center;
    top: 18px;
    padding: 12px 25px;
    font-style: normal;
    font-weight: 700;
}

.header-bottom {
    position: relative;
}

.header-button {
    position: absolute;
    right: -17px;
    top: 0;
}

.red-btn:focus {
    color: #ffffff;
    background: #000;
}

.red-btn:hover {
    color: #ffffff;
    background: #000;
}


/*
=====================================================================
     Dropdown Menu Starts
=====================================================================
*/

.dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.357);
    left: 0;
    opacity: 0;
    padding: 0;
    transition: all 0.6s ease 0s;
    visibility: hidden;
}

.hero-area-menu .nav.navbar-nav li:hover ul.dropdown-menu {
    left: 0;
    opacity: 1;
    top: 83px;
    transition: all 0.6s ease 0s;
    visibility: visible;
}

.dropdown-menu > li {
    padding: 1px 0;
    transition: all 0.6s ease -1s;
    width: 200px;
}

.header-area-content .nav.navbar-nav ul.dropdown-menu li a {
    display: inline-block;
    padding: 25px 12px;
    width: 100%;
    color: #333;
    font-weight: 700;
}

.hero-area-menu .navbar-nav li:hover ul.dropdown-menu li a {
    color: #333;
    padding: 13px 12px;
}


/*******************************
	2. Slider Area
 *******************************/

.slider-area {
    height: 620px;
}

.slider-wrapper,
.owl-stage-outer,
.owl-stage,
.owl-item {
    height: 100% !important;
}

.slide-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide-content h2 {
    font-style: normal;
    font-size: 39px;
    color: #fefefe;
    text-transform: uppercase;
    line-height: 46px;
    font-family: 'proxima_novaextrabold';
    font-weight: normal;
}

.subtitle {
    color: #ececec;
    display: block;
    font-size: 16px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-family: 'proxima_nova_rgregular';
}

.slide-content a {
    border: 2px solid #fff;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    margin: 0 10px;
    padding: 14px 35px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-family: 'proxima_novasemibold';
}

.slide-content a.btn-filled {
    background: #0681bd none repeat scroll 0 0;
    border: none;
    border: 2px solid #0681bd;
}

.overlay {
    position: relative;
    z-index: 1;
}

.overlay::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000000;
    z-index: -1;
    opacity: .2;
}


/* ******************************
	1. slider-area End
 ********************************/


/*******************************
3. Activaits Area start
******************************/

.setion-title h3 {
    color: #000;
    margin-bottom: 20px;
    font-style: normal;
}

.setion-title > p {
    font-size: 14.5px;
    margin-bottom: 40px;
    font-style: normal;
}

.single-activites h4 {
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 22px;
    font-style: normal;
}

.single-activites > p {
    font-size: 14px;
    font-style: normal;
}

.single-activites {
    position: relative;
}

.activeits-content > h4 {
    color: #222222;
    font-size: 16px;
    margin-top: 20px;
}

.single-activites:hover .hover {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: url(/assets/img/link.png), auto;
    background: #000;
    opacity: .5;
    border: 5px solid;
}

.rdmore-btn {
    background: #0681bd none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 15px;
    font-style: normal;
}

.rdmore-btn:hover {
    background: #000;
    color: #fff;
    transition: .5s;
}


/*******************************
3. Activaits Area End
******************************/


/*******************************
	4. About  Area Start
 *******************************/

.about-area {
    position: relative;
    background-image: url(/assets/img/about/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.about-area::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.55;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.about-area .setion-title h3 {
    color: #fff;
}

.about-area .setion-title {
    background: rgba(6, 129, 189, 0.9) none repeat scroll 0 0;
    color: #fff;
    margin-top: 70px;
    padding: 70px 27.5px 20px;
    position: absolute;
    right: -30px;
    text-align: left;
    top: 10%;
    z-index: 1;
}

.about-area .setion-title::after {
    border-color: rgba(6, 129, 189, 0.9) rgba(6, 129, 189, 0.9) transparent transparent;
    border-style: solid;
    border-width: 60px 47px 11px 247px;
    bottom: -71px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: -1;
}

.about-area::before {
    background: rgba(0, 0, 0, 0) url("/assets/img/product/double-glazing-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 44%;
}

.about-area.window-about::before {
    background: rgba(0, 0, 0, 0) url("/assets/img/product/window-piece.jpg");
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 44%;
}

.about-area.conserv::before {
    background: rgba(0, 0, 0, 0) url("/assets/img/product/conserv-4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 44%;
}

.nav.nav-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f7c039 #f7c039 transparent;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    display: inline-block;
}

.about-area .nav.nav-tabs > li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    padding: 30px 45px;
}

.about-area .nav.nav-tabs > li.active a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-color: #f7c039 #f7c039 rgba(0, 0, 0, 0);
    border-radius: 0;
}

.about-area .nav-tabs > li > a:hover {
    border-color: transparent;
}

.about-area .tab-content h3 {
    color: #fff;
    margin-bottom: 30px;
    font-style: normal;
}

.about-area .tab-content p {
    color: #d4d4d4;
    font-size: 15px;
    font-style: normal;
}

.about-area .tab-content {
    margin-top: 100px;
    font-style: normal;
    padding-left: 30px;
}

.about-area .nav.nav-tabs {
    border-color: #505050;
    margin-left: 60px;
    margin-top: 30px;
}


/******************************
 5. Latest-project-area Start
********************************/

.latest-project-area .owl-nav .owl-prev {
    border: 1px solid #c0c0c0;
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    padding: 8px 15px;
    position: absolute;
    right: 200px;
    top: -110px;
}

.latest-project-area .owl-nav .owl-next {
    border: 1px solid #c0c0c0;
    display: inline-block;
    font-size: 20px;
    padding: 8px 15px;
    position: absolute;
    right: 155px;
    top: -110px;
}

.latest-project-area .owl-nav .owl-next:hover,
.latest-project-area .owl-nav .owl-prev:hover {
    border: 1px solid #f7c14e;
    color: #f7c14e;
    transition: .4s;
}

.single-project {
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: .6s;
}

.single-project img {
    width: 100%;
    transition: all .2s ease-in-out;
}

.single-project .overly {
    background: rgba(15, 14, 14, 0.83) none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-style: normal;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 100%;
    transform: rotateZ(300deg);
    transition: all 0.6s ease 0s;
    vertical-align: middle;
    width: 100%;
}

.single-project:hover .overly {
    opacity: 1;
    border: 5px solid transparent;
    transform: rotateZ(0deg);
    top: 0;
}

.single-project .overly a .fa {
    bottom: 0;
    color: #fff;
    padding: 35px;
    position: absolute;
    right: 0;
    font-size: 20px;
}


/******************************
 5. Latest-project-area End
********************************/


/******************************
6.Client-area Start
********************************/

.client-area {
    overflow: hidden;
    padding-bottom: 60px;
}

.client-area .owl-nav i {
    color: #0681bd;
}

.client-area .owl-nav .owl-prev {
    display: inline-block;
    font-size: 20px;
    left: -60px;
    position: absolute;
    top: 40%;
}

.client-area .owl-nav .owl-next {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: -60px;
    top: 40%;
}

.single-client img {
    left: 30px;
    position: absolute;
    top: -40px;
    width: 70px !important;
    z-index: 111;
}

.single-client {
    border: 2px solid transparent;
    margin-bottom: 70px;
    margin-top: 40px;
    opacity: 0.5;
    padding: 50px 20px;
    position: relative;
}

.owl-item.center .single-client img {
    visibility: visible;
    display: block;
}

.single-client > img {
    /*visibility: hidden;*/
    /*display: none;*/
}

.owl-item.center .single-client > p {
    margin-top: 13px;
}

.owl-item.center .single-client {
    border: 2px solid #0681bd;
    border-bottom: none;
}

.single-client > h4 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    color: #000;
}

.single-client p {
    font-size: 15px;
}

.owl-item.center .single-client {
    opacity: 1;
}

.owl-item.active.center .single-client::before {
    background: #0681bd none repeat scroll 0 0;
    bottom: -16px;
    content: "";
    height: 2px;
    left: -2px;
    position: absolute;
    transform: rotate(5deg);
    width: 101%;
}

.owl-item.active.center .single-client::after {
    background: #0681bd none repeat scroll 0 0;
    bottom: -32px;
    content: "";
    height: 35px;
    position: absolute;
    right: -2px;
    width: 2px;
}


/******************************
6.Client-area End
********************************/


/******************************
7.Quate-Area Start
********************************/

.quate-area {
    background: url(/assets/img/uploads/getquate-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.quate-area:after {
    left: 0;
    background: #0681bd;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    z-index: -1;
    opacity: .9;
}

.quate-area .setion-title > h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.quate-area .quote-btn-black {
    background: #000000 none repeat scroll 0 0;
    border: 1px solid #000000;
    color: #ffffff;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    /*margin-right: 30px;*/
    margin-top: 20px;
    padding: 13px 25px;
    width: 230px;
}

.quote-btn-black:hover {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #000000;
    color: #000000;
}

.quate-area .setion-title h4 {
    color: #fff;
}

.quate-area .setion-title h4 {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-family: 'proxima_nova_rgregular';
}


/******************************
7.Quate-Area End
********************************/


/******************************
8.Topfooter-area  Start
********************************/

.topfooter-area {
    background: #2e2d2d none repeat scroll 0 0;
    overflow: hidden;
    position: relative;
}

.topfooter-area h4 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 35px;
    position: relative;
    font-style: normal;
}

.topfooter-area p {
    font-size: 14px;
    font-style: normal;
    margin-bottom: 25px;
}

.topfooter-area h4::after {
    background: gray none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 90px;
}

.footer-menu li {
    display: block;
}

.footer-menu li a {
    color: #a6a6a6;
    font-style: normal;
    padding: 7px 0;
}

.footer-menu li a i {
    display: inline-block;
    margin-right: 6px;
}

.footer-menu li a:hover {
    color: #f2be4b;
}

.flickr_badge_image {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 5px;
}

.footer-input {
    position: relative;
}

.footer-input input {
    background: #383737 none repeat scroll 0 0;
    border: medium none;
    color: #595858;
    font-size: 12px;
    font-style: normal;
    height: 45px;
    padding-left: 10px;
    position: relative;
    width: 100%;
}

.footer-input button {
    background: #0681bd none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-size: 25px;
    height: 42px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 1.2px;
    width: 42px;
}

.footer-input button i {
    font-size: 20px;
}


/******************************
8.Topfooter-Area End
********************************/


/******************************
9.Footer-area Start
********************************/

.footer-area {
    background: #000 none repeat scroll 0 0;
    padding: 30px 0;
    font-style: normal;
}

.footer-area p {
    margin-bottom: 0;
}

.footer-area p i {
    color: #0681bd;
}


/**********************************************************
9.Footer-area End
**********************************************************/


/*===================================================
 10.Home Page Two
=============================================*/

.welcome-area {
    position: relative;
}

.welcome-area .header-area {
    position: absolute;
    width: 100%;
    z-index: 3;
}


/*
.welcome-area,
.welcome-slider-area,
.welcome-slider-area div {
    height: 100%;
}
.welcome-area div.slide-area-tablecell, .welcome-area div.slide-area-tablecell div {
  height: auto;
}
.welcome-area div.slide-area-tablecell,
.welcome-area div.slide-area-tablecell div {
    height: auto;
}
*/

.welcome-slider-area {
    height: 100%;
}

#welcome-carousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.item {
    height: 100%;
}

.single-slide-item {
    height: 100%;
}

.slide-area-table {
    display: table;
    height: 100%;
    width: 100%;
}

.slide-area-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.slide-area-table {
    width: 100%;
    display: table;
}

.header_all {
    position: absolute;
    width: 100%;
    z-index: 99;
}

.slide-one {
    background: url(/assets/img/slides/slider-bg-one.jpg);
}

.slide-two {
    background: url(/assets/img/slides/slider-bg-two.jpg);
}

.slide-three {
    background: url(/assets/img/slides/slider-bg-three.jpg);
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.home-page2 .hero-area-menu ul.nav.navbar-nav li a,
.home-page2 .header-left a,
.home-page2 .header-right a {
    color: #ffffff;
}

.home-page2 .header-border {
    border-bottom: 1px solid #4a4a4a;
}

.carousel-indicators .active {
    background: #fff;
    height: 10px;
    margin: 6px;
    width: 10px;
    border-radius: 0px;
    border: 1px solid #fff;
}

.carousel-indicators li {
    border-radius: 0px;
    background: #0681bd;
    border: 1px solid #0681bd;
    margin: 6px;
}

.carousel-indicators {
    bottom: 45px;
    left: 13%;
}

.welcome-area .header-button a {
    top: 85px;
}

.slide-content > a:hover {
    background: #0681bd none repeat scroll 0 0;
    border: 2px solid #0681bd;
}

.home-page2 .welcome-area .header-button a:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #000000;
}


/*===================================================
10.Home Page Two
=============================================*/


/*********************************************************
11.Blog-area Strat
**********************************************************/

.section-banner {
    background-image: url(/assets/img/blog/blog-banner.jpg);
    color: #fff;
    font-style: normal;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.section-banner.about-page {
    background-image: url(/assets/img/product/about-1.jpg);
    color: #fff;
    font-style: normal;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.section-banner.doors {
    background-image: url(/assets/img/product/door-wide.jpg);
    color: #fff;
    font-style: normal;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.section-banner.conserv {
    background-image: url(/assets/img/product/conserv-1.jpg);
    color: #fff;
    font-style: normal;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.section-banner:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: .8;
    z-index: -1;
    content: "";
}

.section-banner h2 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.section-banner a {
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}

.section-banner a:hover {
    color: #0681bd;
}

.single-blog-content-text {
    padding-bottom: 35px;
    padding-left: 30px;
}

.single-blog p {
    font-size: 15px;
    font-style: normal;
    padding-bottom: 10px;
}

blockquote p {
    padding-bottom: 0 !important;
}

.single-blog p a {
    color: #0681bd;
}

.single-blog a {
    color: #808080;
    display: inline-block;
    font-style: normal;
    margin-bottom: 4px;
    padding: 0 7px;
}

.single-blog-content-text > a:nth-child(2) {
    padding-left: 0;
}

.single-blog h3 {
    color: #000000;
    margin-bottom: 11px;
    margin-top: 27px;
}

.date > h3 {
    margin-bottom: 0;
    margin-top: 9px;
}

.date > h4 {
    margin-top: 0;
}

.single-blog span {
    color: gray;
    display: inline-table;
}

.single-blog .date {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #0681bd #0681bd #000080;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    height: 70px;
    margin-top: 35px;
    position: relative;
    text-align: center;
    width: 60px;
    z-index: 1;
    margin-left: 10px;
}

.single-blog .date::after {
    background: #0681bd none repeat scroll 0 0;
    bottom: -7px;
    content: "";
    height: 2px;
    left: -3px;
    position: absolute;
    transform: rotate(10deg);
    width: 108%;
}

.single-blog .date::before {
    background: #0681bd none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 14px;
    position: absolute;
    right: -2px;
    width: 2px;
}

.single-blog {
    margin-top: 75px;
    padding-right: 30px;
}

.blog-right-menu .flickr_badge_image {
    padding-right: 7px;
    padding-bottom: 7px;
}

.blog-right-menu .flickr_badge_image a {
    border: medium none;
    padding: 0;
}

.blog-right-menu .flickr_badge_image a:hover {
    border: medium none;
}

.header-right.single-blog-icon {
    padding: 0;
    text-align: left;
}

.header-right.single-blog-icon::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.header-right.single-blog-icon ul li a {
    margin-right: -2px;
}

.header-right.single-blog-icon ul li:first-child {
    margin-right: 20px;
}


/*********************************************************
 11. Blog-area Strat
**********************************************************/

.search-area {
    position: relative;
    margin-top: 75px;
    padding-left: 30px;
}

.single-blog-tag-area {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    margin-bottom: 25px;
    padding: 15px 0;
}

.search-area::after {
    background: #eeeded none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -12px;
    position: absolute;
    top: 0;
    width: 1px;
}

.search-area input {
    border: none;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    display: inline-block;
    height: 48px;
    outline: medium none;
    padding-left: 15px;
    width: 100%;
    font-size: 14px;
}

.blog-search-icon {
    display: inline-block;
    height: 40px;
    line-height: 48px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}

.blog-search-icon i {
    color: gary;
    cursor: pointer;
    font-size: 18px;
}


/* .blog-area-right-heading-Tag Start */


/* .blog-area-right-menu Start */

.bolg-area .search-icon {
    position: absolute;
    right: 10px;
    top: 14px;
}

.blog-right-menu {
    padding-top: 3px;
}

.blog-right-menu li {
    display: block;
}

.tag-menu a {
    color: #222222;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.blog-right-menu a {
    border-bottom: 1px solid #dadada;
    color: #222222;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    padding: 14px 0;
    width: 100%;
}

.blog-right-menu a span {
    display: inline-block;
    float: right;
    text-align: right;
}

.blog-right-menu a:hover {
    border-bottom: 1px solid #0681bd;
    color: #0681bd;
}

.blog-right-menu h3,
.social-menu h3,
.recent-title h3,
.tag-menu h3 {
    color: #000000;
    margin-bottom: 25px;
    margin-top: 60px;
}

.social-menu .socials {
    text-align: left;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.recent-post {
    display: inline-flex;
    margin-bottom: 27px;
}

.recent-post:last-child {
    margin-bottom: 0;
}

.blog-right-tag-list > li {
    display: inline-block;
}

.blog-right-tag-list > li a {
    border: medium none;
    padding: 5px 0;
}

.blog-right-tag-list > li a:hover {
    border: medium none;
}

.social-menu .socials li a {
    color: #000;
}

.recent-post {
    display: inline-flex;
}

.recent-content {
    display: inline-block;
    padding: 0 13px;
}

.recent-content p a {
    color: #000000;
}

.recent-content sapn {
    font-size: 13px;
    font-style: normal;
}

.pagination-bar {
    display: block;
    float: right;
    margin-bottom: 30px;
}

.navigation {
    display: inline-block;
}

.pagination-bar .pagination {
    margin-right: 15px;
}

.pagination li a {
    border: medium none;
    font-style: normal;
    font-weight: 700;
    padding: 0px 7px;
    color: #000;
}

.navigation li a {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.navigation li a:hover,
.pagination li a:hover {
    color: #ebb746;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: transparent;
}

.navigation {
    position: relative;
    text-align: right;
    top: -15px;
}

.navigation::after {
    background: #808080 none repeat scroll 0 0;
    content: "";
    height: 1px;
    margin-left: -50px;
    position: absolute;
    right: 0;
    top: 22px;
    width: 100%;
}

.navigation > li {
    display: block;
}

blockquote {
    border-left: 5px solid #0681bd;
    margin: 0 30px 20px;
    padding: 0 16px;
}

.tag {
    font-style: normal;
    text-align: right
}

.tag p {
    display: inline-block;
    font-weight: 600;
    margin: 0;
    padding: 0 8px;
}

.comment-content {
    display: inline-block;
    float: left;
    padding-left: 15px;
    width: 90%;
    font-style: normal;
}

.comment-area {
    margin-top: 40px;
    overflow: hidden;
}

.comment-area > img {
    float: left;
    width: 60px;
    margin-top: 10px;
}

.comment-title {
    color: #000
}

.date {
    color: #bcbaba;
}

.comment-content > a {
    color: #0681bd;
    margin-bottom: 40px;
}

.form-area {
    padding: 70px 0;
}

.form-area form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #c8c8c8;
    color: #c8c8c8;
    font-family: proxima_nova_rgregular;
    font-size: 14px;
    height: 45px;
    margin-top: 40px;
    padding-left: 10px;
    width: 48%;
}

.form-area form textarea {
    border: 1px solid #c8c8c8;
    font-style: normal;
    color: #c8c8c8;
    font-family: proxima_nova_rgregular;
    margin-top: 20px;
    padding: 9px;
    resize: none;
    width: 97%;
    margin: 25px 0px;
    ;
}

.btn-submit {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    padding: 19px 50px;
    font-size: 13px;
}

.btn-submit:hover {
    background: #0681bd none repeat scroll 0 0;
    color: #ffffff;
}


/*********************************************************
 11. Blog-area Strat
**********************************************************/


/***************************************************************************
12.Service Page Start
*********************************************************************/

.activites-area.service-page {
    padding-bottom: 100px;
}

.activeits-content p {
    font-style: normal;
}

.activites-area.service-page .single-activites {
    margin-top: 100px;
}


/********************************************************************
 12.  Service Page End
*********************************************************************/


/*********************************************************************
 13. Single Service Page Start
*********************************************************************/

.service-contant > p {
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 30px;
}

.service-contant blockquote {
    font-size: 16px;
    font-style: normal;
}

.service-contant > h3 {
    color: #000;
    margin-bottom: 45px;
}

.single-sevice-area {
    padding: 100px 0 60px;
}

.single-service-area .blog-right-menu > h3 {
    margin-top: 0;
}

.single-sevice-area .blog-right-menu h3 {
    margin-bottom: 60px;
    margin-top: 0;
}

.single-sevice-area .blog-right-menu {
    padding-left: 30px;
    padding-right: 100px;
    position: relative;
}

.service-left {
    padding-right: 30px;
    position: relative;
}

.service-left::after {
    background: #eeeded none repeat scroll 0 0;
    content: "";
    height: 93%;
    position: absolute;
    right: -5px;
    top: 0;
    width: 1px;
}

.download-area {
    padding-top: 50px;
}

.download-area > h3 {
    margin-bottom: 25px !important;
}

.download-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cccccc;
    height: 44px;
    padding-left: 15px;
    text-align: left;
    width: 100%;
    font-weight: 700;
    font-family: proxima_nova_rgregular;
    transition: .4s;
}

.download-btn i {
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}

.download-btn:hover {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
}


/*********************************************************************
  13. Single Service Page End
*********************************************************************/


/*********************************************************************
   14. About Page Start
*********************************************************************/

.about-banner.section-banner.double-glazing {
    background-image: url(/assets/img/blog/blog-banner.jpg);
    ;
    background-position: center;
}

.about-border {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #0681bd #0681bd -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 8px 8px 0;
    height: 330px;
    margin-bottom: 140px;
    margin-left: 80px;
    margin-top: 120px;
    position: relative;
    width: 350px;
}

.about-border-2 {
    /*-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #0681bd #0681bd -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 8px 8px 0;*/
    height: 330px;
    margin-bottom: 140px;
    margin-left: 80px;
    margin-top: 120px;
    position: relative;
    width: 350px;
}

.about-border::after {
    background: #0681bd none repeat scroll 0 0;
    bottom: -32px;
    content: "";
    height: 8px;
    left: -8px;
    position: absolute;
    transform: skewY(8deg);
    width: 105%;
}

.about-border-2::after {
    /*background: #0681bd none repeat scroll 0 0;*/
    bottom: -32px;
    content: "";
    height: 8px;
    left: -8px;
    position: absolute;
    transform: skewY(8deg);
    width: 105%;
}

.about-border::before {
    /*background: #0681bd none repeat scroll 0 0;*/
    bottom: -54px;
    content: "";
    height: 59px;
    position: absolute;
    right: -8px;
    width: 8px;
}
.about-border-2::before {
    /*background: #0681bd none repeat scroll 0 0;*/
    bottom: -54px;
    content: "";
    height: 59px;
    position: absolute;
    right: -8px;
    width: 8px;
}

.about-border img {
    left: -30px;
    position: absolute;
    top: -80px;
}

.about-border-2 img {
    left: -30px;
    position: absolute;
    top: -80px;
}

.about-content {
    font-style: normal;
    ;
}

.about-content h2 {
    color: #000;
    margin: 52px 0;
}

.about-content > p {
    font-size: 15px;
    line-height: 30px;
}

.single-about.tab-content {
    padding-bottom: 100px;
}

.single-about.about-area {
    position: relative;
    background-image: url(/assets/img/about/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}


.single-about.about-area-2 {
    position: relative;
    background-image: url(/assets/img/about/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.single-about.about-area::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.55;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.single-about.about-area-2::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.55;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.single-about.about-area .setion-title h3 {
    color: #fff;
}

.single-about.about-area-2 .setion-title h3 {
    color: #fff;
}

.single-about.about-area .setion-title {
    background: rgba(6, 129, 189, 0.9) none repeat scroll 0 0;
    color: #fff;
    margin-top: 70px;
    padding: 70px 40px 20px;
    position: absolute;
    right: -45px;
    text-align: left;
    top: 10%;
    z-index: 1;
}

.single-about.about-area-2 .setion-title {
    background: rgba(6, 129, 189, 0.9) none repeat scroll 0 0;
    color: #fff;
    margin-top: 70px;
    padding: 70px 40px 20px;
    position: absolute;
    right: -45px;
    text-align: left;
    top: 10%;
    z-index: 1;
}

.single-about.about-area.doors::before {
    background: url(/assets/img/product/doors-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 44%;
}

.single-about.about-area-2::before {
    background: url(/assets/img/product/doors-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 44%;
}


/* About Page Team Member area start */

.team-member-area {
    padding: 70px 0 100px;
}

.hection-heading {
    padding-bottom: 50px;
    text-align: left;
}

.hection-heading > h2 {
    color: #000000;
    font-size: 24px;
}

.hection-heading > p {
    line-height: 22px;
    margin: 0;
}

.single-team-member {
    border: 1px solid;
    overflow: hidden;
    padding: 6px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.team-member-img > img {
    width: 100%;
}

.team-member-etails > h4 {
    color: #000000;
    font-family: "proxima_nova_rgbold";
    font-weight: 700;
}

.team-member-etails > p {
    color: #a8a8a8;
    font-family: proxima_nova_rgregular;
    font-size: 13px;
    transition: all 0.9s ease 0s;
}

.single-team-member-hover {
    /*background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    bottom: -5px;
    height: 100%;
    left: 0;
    position: absolute;
    transform: translateY(100%);
    transition: all 0.6s ease 0s;
    width: 100%;
    z-index: 2;*/
}

.single-team-member-hover ul.socials {
    left: 0;
    position: absolute;
    top: 47%;
    width: 100%;
}

.single-team-member-hover .socials a {
    /*color: #ffffff;*/
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}

.team-member-etails {
    padding: 20px 0 14px;
    position: relative;
    transition: all 0.8s ease 0s;
    z-index: 3;
}

.single-team-member:hover .single-team-member-hover {
    /*transform: translateY(0px);
    bottom: 0;*/
}

.single-team-member:hover .team-member-etails > h4 {
    /*color: #ffffff;*/
}

.single-team-member:hover .team-member-etails > p {
    /*color: #f4f4f4;*/
    /*margin: 0;*/
}

.team-member-etails > h4 {
    margin: 0;
    padding-bottom: 4px;
    transition: all 0.8s ease 0s;
}


/* About Page Team Member area End */


/*********************************************************************
14. About Page End
*********************************************************************/


/*********************************************************************
14. Mission Page Start
*********************************************************************/

.mission-area {
    padding: 30px 0 0;
}

.mission-area-top {
    padding-bottom: 36px;
}

.mission-area-text {
    padding-right: 100px;
    padding-top: 50px;
}

.mission-area .col-md-5 .col-md-6 {
    padding: 0 3px;
}

.mission-area-single-img > img {
    height: 100%;
    width: 100%;
}

.vission-area .mission-area-text {
    padding-left: 100px;
    padding-right: 0;
    padding-top: 75px;
}

.vission-area .mission-area-single-img > img {
    height: 461px;
}

.mission-area-single-img > img:first-child {
    margin-bottom: 6px;
}

.vission-area .mission-area-single-img > img {
    margin-bottom: 0;
}

.mission-area-text > p {
    color: #959595;
    line-height: 25px;
    margin-bottom: 30px;
}

.mission-area-heading > h3 {
    padding-bottom: 25px;
}

.mission-area-heading > h3 {
    color: #151515;
    font-weight: 400;
}


/**********************************************************************
15  mission-Area End
**********************************************************************/


/**********************************************************************
15  Shop-Area Start
**********************************************************************/

.wishlist {
    margin: 0;
    padding: 0;
}

.wishlist li {
    display: block;
    margin-bottom: 1px;
}

.wishlist li a {
    background: #0681bd none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    line-height: 37px;
    text-align: center;
    width: 37px;
}

.single-product {
    position: relative;
    margin-bottom: 50px;
}

.wishlist {
    position: absolute;
    right: 1px;
    top: 0;
}

.wishlist > li > a:hover {
    background: #000 none repeat scroll 0 0;
}

.product-content del {
    color: #555555;
    float: right;
}

.product-content h5 {
    color: #0681bd;
    font-size: 18px;
}

.product-content h4 {
    margin-bottom: 15px;
    margin-top: 25px;
    color: #555555;
}

.product-img {
    position: relative;
    transition: .5;
}

.proudct-hover {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: rotateX(-182deg);
    transition: all 0.6s ease 0s;
    visibility: hidden;
    width: 100%;
}

.product-img:hover .proudct-hover {
    visibility: visible;
    background: #000;
    opacity: .6;
    transform: rotateX(0deg);
}

.product-img:hover img {
    transform: scale(1.3);
}

.product-img {
    overflow: hidden;
}

.product-img > img {
    transition: all 1s ease 0s;
    width: 100%;
}

.product.search-area {
    margin-top: 0;
}

.product-area {
    padding-top: 100px;
    position: relative;
}

.proudct-hover i {
    color: #fff;
    font-size: 18px;
}

.product.search-area::after {
    background: gray none repeat scroll 0 0;
    content: "";
    height: 190%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.product-area .blog-right-menu a {
    width: 100%;
}


/**********************************************************************
15  Shop-Area Start
**********************************************************************/


/*****************************************************
   16. Contact Area Strat
******************************************************/

.contact-area form input {
    border-radius: 0;
    font-size: 15px;
    height: 45px;
    margin-bottom: 30px;
}

.form-control:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}

.contact-area p {
    font-size: 15px;
    font-style: normal;
    margin-bottom: 55px;
}

.contact-area h2 {
    color: #000;
    font-weight: 700;
}

.contact-area .btn-default,
.billing-area .btn-default {
    margin-top: 35px;
    background: #0681bd none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    width: 100%;
    line-height: 45px;
    position: static;
    font-weight: 700;
    border: none;
    border-radius: 0px;
    transition: .4s;
}

.btn.btn-default:hover {
    background: #000;
}

.contact-area form textarea {
    border-radius: 0;
    resize: none;
    font-style: normal;
    font-size: 15px;
}

.location h4 {
    color: #000;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}


/*****************************************************
 16.  Thanks  Area Strat
******************************************************/

.thank-area {
    background: rgba(0, 0, 0, 0) url("img/uploads/thank-bg.jpg") no-repeat scroll center center / cover;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.thank-area::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.thank-area h1,
.error-area h1 {
    color: #0681bd;
    font-size: 95px;
    font-weight: 900;
    font-family: 'proxima_novaextrabold';
}

.thank-area p,
.error-area p {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    margin: 20px 0;
}

.error-btn,
.thank-btn {
    border: 2px solid #fff;
    border-radius: 4px;
    font-style: normal;
    padding: 16px 36px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}


/*****************************************************
   16. Thanks Area End
******************************************************/


/*****************************************************
   16. 404 Area Start
******************************************************/

.error-btn {
    border: 2px solid #0a0a0a;
    color: #393939;
}

.error-area h5 {
    color: #393939;
    font-family: 'proxima_nova_rgbold';
    font-weight: normal;
}

.error-area p {
    color: #393939;
    margin-bottom: 35px;
}

.error-btn:hover,
.thank-btn:hover {
    background: #0681bd;
    color: #fff;
    border: 2px solid #0681bd;
}


/*****************************************************
   16. 404 Area End
******************************************************/


/*****************************************************
   17. Billing Area Start
******************************************************/

.billing-form form input,
.billing-area form select {
    border-radius: 0;
    display: inline-block;
    height: 45px;
    margin-bottom: 30px;
    margin-right: 14px;
    width: 310px;
}

.billing-area form select {
    border: 1px solid lightgray;
    font-style: normal;
    padding: 8px;
    position: relative;
    z-index: 1;
}

.billing-area form select option {
    padding: 8px;
}

.billing-area form select {
    -moz-appearance: none;
}

.billing-form form textarea {
    border-radius: 0;
    font-style: normal;
    height: 45px;
    margin-bottom: 35px;
    padding-top: 12px;
    resize: none;
    width: 98%;
}

.billing-area form img {
    display: block;
}

.billing-area form label {
    font-style: normal;
    padding: 15px 0;
}

.billing-area h2 {
    color: #000;
}

.billing-area p {
    margin-bottom: 40px;
    margin-top: 25px;
}

.total-bill > li {
    border-bottom: 1px solid lightgray;
    display: block;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding: 16px;
}

.total-bill {
    border: 1px solid lightgray;
}

.total-bill > li span {
    float: right;
}

.total-bill > li:last-child {
    border: medium none;
}

.order-area input[type="radio"] {
    height: 0;
    width: 30px;
}

.order-area span {
    display: block;
}


/*****************************************************
   17. Billing Area Start
******************************************************/


/*****************************************************
   18. Cart Area Start
******************************************************/

.cart-area thead tr th {
    font-style: normal;
    text-align: center;
}

.cart-area table tbody tr {
    font-style: normal;
}

.quantity input {
    border: 1px solid #cccccc;
    color: #222222;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    text-align: center;
    width: 70px;
}

/*
.quantitiy span {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
}
*/

.quantitiy {
    margin-top: 25px;
}

.cart-area table tbody tr td {
    width: 45px;
}


/*****************************************************
   18. Cart Area Start
******************************************************/

.single-pro-content h3 {
    color: #686666;
}

.single-pro-content p {
    font-size: 15px;
    line-height: 26px;
}

.single-pro-content h5 {
    color: #f6bd3f;
    margin-bottom: 30px;
    margin-top: 20px;
}

.single-pro-content h5 del {
    margin-left: 60px;
}

.single-pro-content h5 del {
    color: #343434;
}

.single-pro-img a {
    background: #000000 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    margin: 15px 0;
    width: 265px;
    line-height: 47px;
    text-align: center;
}

.quantitiy span i {
    border: 1px solid lightgray;
    padding: 3px;
}

.single-pro-img p {
    margin-top: 30px;
}

.single-pro-img .porduct-btn {
    background: #0681bd none repeat scroll 0 0;
}


/*****************************************************
   18. Cart Area End
******************************************************/


/*****************************************************
   18. Single Product Area Start
******************************************************/

.single-producet-content p {
    color: #959595;
    font-family: proxima_nova_rgregular;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 22px;
}

.single-producet-content > h3 {
    color: #000;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 50px;
}

.porjectDeatils h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 50px;
}

.porjectDeatils h5 {
    color: #5e5e5e;
    font-family: "proxima_novasemibold";
    font-size: 16px;
    font-weight: 600;
}

.porjectDeatils > p {
    margin-bottom: 40px;
}


/*****************************************************
   18. Single Product Area End
******************************************************/


/*****************************************************
   19. Project Area Area Start
******************************************************/

.project-area .single-project {
    float: left;
    width: 33.3%;
}

.project-area {
    overflow: hidden;
}

.porject-list ul li i {
    padding: 0 25px;
}

.porject-list ul li {
    cursor: pointer;
    font-weight: 700;
    padding: 60px 0;
}


/*****************************************************
   19. Project Area Area Start
******************************************************/

.bolg-socials li {
    display: inline-block;
}

.bolg-socials li a {
    border: medium none;
    padding-right: 14px;
}

.bolg-socials li a:hover {
    border-bottom: none;
}

.bolg-socials {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}


/* Preloaders CSS */

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.spinner-2 {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #f4c205;
    border-radius: 100%;
    -webkit-animation: sk-scaleout2 1.0s infinite ease-in-out;
    animation: sk-scaleout2 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout2 {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes sk-scaleout2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.factorian-site-preloader-wrap {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.factorian-site-preloader-wrap .spinner-2 {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

.product-social .bolg-socials > li {
    padding: 12px 0;
}

.product-social .bolg-socials > li a {
    color: #000000;
}

.product-social .bolg-socials > li a:hover {
    color: #f4c205;
    transition: .4s;
}

.product-social h3 {
    margin-top: 40px;
}


.green {color: green !important;}

.maps iframe{
    pointer-events: none;
}

.no-border {border: none;}

.grid-sizer,
.grid-item { width: 33%; margin-bottom:1.5px; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

.black-bg {background: #000;}
