<div navi></div>

    <!-- Page Title Area
      =========================== -->
    <section class="page-title fix">
        <div class="container bb-bottom">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-content">
                        <h2 class="page-title">Latest News</h2>
                        <span class="sub-title">read latest news from our blog</span>
                    </div>
                    <div class="bread-cumb">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                    <!-- /.END OF BREAD CUMB -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Of Page Title Area -->

    <!-- Page Internal Content -->
    <section class="page-internal-content">
        <div class="container">
            <div class="row">

                <!-- Content Section -->
                <div class="col-md-9 main-content">


                    <!-- Single News Post -->
                    <div class="sin-news-content">
                        <div class="sin-news-thumb">
                            <img src="assets/img/info/customer-service.jpg" alt="">
                        </div>
                        <div class="news-content">
                            <div class="news-bio">
                                <h2>Customer Service Values</h2>
                            </div>

                            <p>If you want to be number one in customer service, you have to do a number of things that make you stand out from the crowd. Here are 7 ways that will put you on top.</p>

<p><strong>1.</strong> Roll Out The Red Carpet For Everyone. If there’s one thing people hate about poor service, it’s getting treated differently from others. It makes them feel inferior and second-class. Gary Richter says you should roll out the red carpet for everyone, but particularly those who don’t expect it. “I tell my employees, if we roll out the red carpet for a billionaire, they won’t even notice. If we roll it out for millionaires, they expect it. If we roll it out for thousandaires, they appreciate it. And, if we roll out the red carpet for hundredaires, they’ll tell everyone they know.”</p>

<p><strong>2.</strong> Take Time To Know Your Customers. The fast pace of modern living together with advances in technology have together put a non-human face on much of our customer service. If you can find a way to re-connect with your customers one-on-one, you’ll strike a chord with your customers that will be like a streak of gold. Kathy Burns remembers a time when people took time to care and listen. “Some of you may remember, and others may have heard stories about, a time in life when the doctor would come to your home to check on you if you were ill. Or maybe you’ve heard about going down to your local pharmacy and having the owner greet you by name and ask how you’re doing. Not only did they ask, but they really wanted to know the answer and they took the time to listen to what you had to say. That’s customer service – taking the time to know your customers, really caring about how they feel, and wanting to go the extra mile to make sure they’re happy.”</p>

<p><strong>3.</strong> Be Easy To Do Business With. One of the problems with modern businesses is that the systems we use to save time and money are often devised for the company’s benefit and not the customers. As a result, the customer experience is frustrating and difficult. Tracey Lowrance says this needs to be reversed. “Customers expect single source service. Customers don’t want to be transferred to every unit of your business to have their problems solved. They want to be able to do business with you with the slightest amount of discomfort. You must be easy to do business with.”</p>

<p><strong>4.</strong> Go Out Of Your Way To Make Sure They’re Happy. One of the most important things your customers want from you is a guarantee that your product or service will work. So move heaven and earth to make sure it does. Bob Leduc suggests you shouldn’t make people pay until they are fully happy. “Instead of offering a money back guarantee, a service business can provide a guarantee to solve the customer’s problem. For example, a plumber can guarantee to come back without charge as often as necessary to stop the leak. A landscaper can replace without charge any plants that don’t survive for at least 6 months. A sales consultant can continue working without charge until the promised sales results are achieved.”</p>

<p><strong>5.</strong> Notice What Customers See. A big part of what customers think about you comes from what they see and believe. Personal Selling Power noticed the following difference in two candy stores. “Although two competing candy stores had the same prices, neighbourhood kids preferred one store to the other. When asked why, they said, “Because the person in the good store always gives us more candy. The girl in the other store takes candy away.” True? Not really. In the good store the owner would always make sure to put a small amount of candy on the scale and then keep adding to it. In the bad store, the owner would pile a heaping amount of candy on the scale, and then take it off until it hit the right weight. The same amount of candy was sold, but perception is everything.”</p>

<p><strong>6.</strong> Work On Everything The Customer Experiences. The customer experience isn’t just receiving the service or buying the goods. It’s about all the other little bits and pieces in-between. Such as the manner of the receptionist, the state of the floors and tables, the attitude of other staff, the ease of parking, the tone of the notices, the smile or lack of it on the face of the checkout team. Be like the Mirage hotel in Las Vegas who have a slogan that says: “We spend 600 hours a week pampering the plants. Imagine what we’ll do for our guests.”</p>

<p><strong>7.</strong> Believe In Customer Service From The Bottom Of Your Soul To become a great service organization, you have to believe in customer service from the bottom of your soul. It has to be part of the way you work. Anita Roddick, founder of retail cosmetic franchise group Body Shop puts it like this: “I am still looking for the modern equivalent of those Quakers who ran successful businesses, made money because they offered honest products and treated people decently, worked hard, spent honestly, saved honestly, gave honest value for money, put back more than they took out and told no lies. This business creed, sadly, seems long forgotten.” </p>

                        </div>
                    </div>
                    <!-- /.End Of Single News Post -->




                </div>
                <!-- /.End Of Content Section -->

                <!-- Sidebar -->
                <aside class="col-md-3 sidebar">

                    <!-- Widget -->
                    <div class="widget">
                        <ul class="widget_links">
                          <li><a href="/customer-service"><i class="fa fa-angle-right"></i> Customer Service</a></li>
                          <li><a href="/honesty-business"><i class="fa fa-angle-right"></i> Honesty In Business</a></li>
                          <li><a href="/communication"><i class="fa fa-angle-right"></i> Better Communication</a></li>
                        </ul>
                    </div>
                    <!-- /.End Of Widget -->


                </aside>
                <!-- /.End Of Sidebar -->

            </div>
        </div>
    </section>
    <!-- /.End Of Page Internal Content -->

<div cta></div>
<div foot></div>
