<!DOCTYPE html>
<html ng-app="app" lang="en">

<base href="/">

<div ng-view autoscroll></div>

<!-- Vendor JS -->
<!-- JQUERY LIBRARY -->
<script src="/assets/js/jQuery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/libs/angular/angular.min.js"></script>
<script src="/assets/libs/angular-route/angular-route.min.js"></script>

<script src="/assets/js/jquery.prettyPhoto.html"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.easing.js"></script>
<script src="/assets/js/waypoint.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyByCbsCqHFk-E80Wubp0TjtVYHyFXNUhZo&libraries=places&dummy=.js">
</script>
<script src="/assets/libs/angular-lazy-img/release/angular-lazy-img.js"></script>
<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<!-- Angular App JS -->
<script src="/app/app.js"></script>
<script src="/app/appRoutes.js"></script>
<script src="/app/ctrl.js"></script>
<script src="/app/directives.js"></script>
<script src="/app/services.js"></script>
